[2019-05-17 14:25] ludoro opened #1 "Review for Radials_1D and Kriging_1D needed"
@ChrisRackauckas

[2019-05-18 22:52] ChrisRackauckas commented on #1
what were your sources on these? And can you work through PRs for easy diffs?

[2019-05-19 16:17] ludoro commented on #1
"A Taxonomy of Global Optimization Methods Based on Response Surfaces" by Donald R. Jones
I think you gave it to me.
Yeah I think so

[2019-05-23 18:37] ludoro commented on #1
@ChrisRackauckas Ping after 8h

[2019-05-24 16:17] ChrisRackauckas commented on #1
- https://github.com/ludoro/Surrogates.jl/blob/master/src/Radials_1D.jl#L1 use symbols on `kind` so that way it can constant prop.
- https://github.com/ludoro/Surrogates.jl/blob/master/src/Radials_1D.jl#L43 make `D` a `Symmetric`, and then just fill the lower triangle.

[2019-05-31 13:28] #1 closed

[2019-05-31 13:30] ChrisRackauckas opened #5 "Typed basis functions"
The basis functions are just asking to be a struct. They should hold https://github.com/JuliaDiffEq/Surrogates.jl/blob/master/src/Kriging_1D.jl#L50-L53 . Then you should have `basis(x)` be the same evaluating `new_point` on that basis.

[2019-05-31 13:31] ChrisRackauckas opened #6 "Parameterization of functions"
https://github.com/JuliaDiffEq/Surrogates.jl/blob/master/src/Radials_1D.jl#L14 that should be `::F` with a parameter since Function is an abstract type, leading to type instabilities

[2019-06-01 06:59] ludoro commented on #6
I don't think I understood what you mean, something like this?
[code]
I do not think this is right because dim_poly should always be an ```Int``` though.

[2019-06-01 07:04] ludoro commented on #5
In Kriging I do not use basis functions though, just ```exp(-theta_l*abs(x[i]-x[j])^p)``` to build the R matrix. Do you mean I should group the input parameter of evaluate_Kriging in a struct?

[2019-06-01 10:54] ChrisRackauckas commented on #5
By basis function I meant the expansion function. So there should be like `RadialBasis(...)` and `Kriging(...)`

[2019-06-01 10:54] ChrisRackauckas commented on #6
[code]

[2019-06-01 13:08] ludoro commented on #5
Just to clarify to be sure I understood your point:
Instead of having evaluate_Kriging_1D, evaluate_Kriging_ND and evaluate_Radial_1D, evaluate_Radial_ND I should have respectively a function Kriging() and RadialBasis() that take as input a struct-like radial basis where I also saved the required parameter needed for the 4 functions above?

[2019-06-01 22:24] ChrisRackauckas commented on #5
Kriging(...) and RadialBasis(...) should be constructors for the Kriging and RadialBasis types. Then instead of `evaluate_...`, you just have `x = Kriging(...)`, then `x(y)` would be the same as `evaluate_...(y,...)`. All of the other arguments are stored in the type so you don't have to lug them around.

[2019-06-01 22:37] ludoro commented on #5
I see, will work on that!

[2019-06-06 09:25] #6 closed

[2019-06-06 09:26] ludoro commented on #5
Done with PR's #9 and #10

[2019-06-06 09:26] #5 closed

[2019-06-06 21:57] ludoro opened #12 "Integrate Radial and Kriging with samplings"
- [x] Random sampling
- [x] Uniform sampling
- [x] Sparse grid sampling
- [x] Sobol sampling
- [x] (Monte Carlo) Importance sampling
- [x] Latin Hypercube
- [x] Low-discrepancy sampling: https://en.wikipedia.org/wiki/Low-discrepancy_sequence
- [x] https://www.mdpi.com/1996-1073/12/10/1906/pdf
- [x] https://cseweb.ucsd.edu/~dstefan/pubs/dalal:2008:low.pdf
- [ ] https://arxiv.org/pdf/1703.05312.pdf

[2019-06-06 21:58] ludoro opened #13 "Integration with Diffeq"
It would be cool to have a function that let's the user specify a Diffeq.jl prob(), but solving it with Surrogates.

[2019-06-07 10:17] ChrisRackauckas opened #15 "Representation of `x`"
https://github.com/JuliaDiffEq/Surrogates.jl/blob/master/src/Radials.jl#L94 shows some issues. `x` here is being used row-major, when the fast dimension is the other way around. I think this kind of handling of `x` gives the packages somewhat of a confusing flow and causes a difference between 1D and ND when there really shouldn't be. Instead, `x` should be an array of values which are the `x1,x2,

[2019-06-07 10:18] ChrisRackauckas opened #16 "Parameterize the types of the other args on the structs"
For type-stability

[2019-06-07 10:24] ChrisRackauckas opened #17 "Other AbstractSurrogates"
- [x] Linear surrogate. A new AbstractSurrogate which fits a linear model. This can be considered the most basic form of a surrogate, though it's an L2 fit so not that great in practice.
- [x] Random forest surrogate.
- [x] Neural surrogate.
- [x] Gaussian process surrogate. Just focusing on single output values.
- [x] Multivariate Adaptive Regression Splines (MARS) https://pysot.readthedocs.io/en

[2019-06-07 10:27] ChrisRackauckas commented on #12
Indeed having sampling procedures is necessary for making this useful. It would be good to create an interface for general sampling, and then getting all of these under the same roof:

- [ ] Random sampling
- [ ] Uniform sampling
- [ ] Sparse grid sampling
- [ ] Sobol sampling
- [ ] Latin Hypercube
- [ ] (Monte Carlo) Importance sampling

[2019-06-07 10:28] ChrisRackauckas commented on #12
Maybe something like `sample(f,SobolSampler())`.

[2019-06-07 10:28] ChrisRackauckas commented on #13
Maybe it doesn't need to be too direct, and it would be on the sampling side.

[2019-06-07 10:45] ChrisRackauckas opened #18 "Add a new Optim.jl Optimizer via surrogates"

[2019-06-07 12:22] ludoro commented on #12
I suppose f is the function/solution of the Differential equation we want to approximate?

[2019-06-07 12:34] ChrisRackauckas commented on #12
Indeed. It's any x to scalar function. So not a full differential equation over time, let's take that off the table for now, but the evaluation of a cost function on the differential equation solution (for example, distance from data) is perfectly reasonable.

[2019-06-07 12:35] ludoro commented on #15
Yes I agree it makes things confusing. After I finish working on your PR I will move onto this.

[2019-06-08 15:26] ludoro commented on #16
Do you mean something like this for RadialBasis:

[code]
And for Kriging:
[code]

[2019-06-08 15:29] ChrisRackauckas commented on #16
yes. Fewer parameters may be possible though, but that works.

[2019-06-09 21:14] ludoro commented on #16
Solved with #19

[2019-06-09 21:14] #16 closed

[2019-06-12 20:25] ludoro commented on #15
Closing thanks to PR #20 and #21

[2019-06-12 20:25] #15 closed

[2019-06-23 21:47] ChrisRackauckas opened #29 "Surrogate optimization methods"
- [x] SRBF
- [x] DYCOR
- [x] SOP
- [x] EI
- [x] LCBStrategy

From: https://pysot.readthedocs.io/en/latest/options.html#strategy

[2019-06-30 17:45] #18 closed

[2019-06-30 17:46] #13 closed

[2019-07-15 11:12] ludoro commented on #17
@ChrisRackauckas While waiting for your input on SOP I am working on Linear surrogates and Lobachevsky splines which seems low hanging fruits. As soon as SOP 1D is understood I will switch back to the ND version. I ticked off single output gaussian process because it is equivalent to Kriging.

[2019-07-15 11:24] ChrisRackauckas commented on #17
Sounds good

[2019-08-06 14:05] agerlach opened #50 "Lobachevsky-Spline: Integrating select dimensions"
One of the benefits of Lobachevsky-Splines is that, not only can you compute the integral of the whole domain, but you can compute the integral of a sub-set of the dimensions, e.g. marginalize a pdf.

Example usage: given R^N->R data

1. fit an N dim L-Spline
2. Integrate dimension i, which updates the coefficients
3. return a new N-1 dim L-Spline.

[2019-08-06 14:11] agerlach opened #51 "Lobachevsky-Spline: Dimension dependent alpha"
The alpha parameter scales the support the the L-spline basis function. The current implementation takes a scalar value for alpha and applies it for all dimensions, however you can have separate alphas for each dimension. Consider adding a function for accepting an array of alphas.

This is important if your support (ub - lb) has different scales.

[2019-08-06 14:46] agerlach opened #52 "Compactly Supported Basis Functions"
In general, basis functions produce dense interpolation matrices. However, there is a special class of basis functions called "Compactly Supported (CS)" that produce sparse interpolation matrices. Additionally, these lend themselves well to matrix-free representations. This a must for large scale problems. Lobachevsky Splines are an example of a CS basis function.

Given a finite L-spline n parame

[2019-08-06 15:07] ludoro commented on #51
Yeah, totally! Kriging surrogate has the same problem and I did the same, I think I just forgot about it when writing the code. It will be an easy fix, will open a PR :). Thanks for having spotted it!

[2019-08-06 15:09] ludoro commented on #50
With respect to point "2.", what do you mean with updating the coefficients? Integrating just the i-dimension gives me a number, right?

[2019-08-06 15:15] ludoro commented on #52
Very interesting stuff! I read about the d-dimensional box when reading about the implementation, but I guess I did not understand the usefulness of it.
By the way, Wendland's functions look really nice, all the other compact support functions as well. I want to have those in Surrogates.jl as well! Thanks for the tips: will think about the matrix-free representation.

[2019-08-06 15:34] agerlach commented on #50
Yes, but to make sure we are on the same page... The multivariate basis function is the product of univariate functions, so the univariate functions corresponding to the dimensions being integrated will produce scalars, but it will still be a function of the other parts. This scalar can be rolled into the coefficient. Here gamma is the scale computed from integrating out the dth dimension.
![image

[2019-08-06 15:36] ludoro commented on #50
Yeah, understood! Thanks for the clarification :)

[2019-08-06 20:01] agerlach commented on #52
Checkout the following example of Matrix-Free compactly supported Wendland's RBF. epsilon controls the support as 1/epsilon. There is a delicate balance of the number of nodes and epsilon. Note that if the number of nodes is small this is much slower than doing A\b.
[matrixFree.ipynb.zip](https://github.com/JuliaDiffEq/Surrogates.jl/files/3473953/matrixFree.ipynb.zip)

[2019-08-08 08:33] #51 closed

[2019-08-08 08:43] ChrisRackauckas opened #54 "More surrogate modeling methods"
- [ ] Inverse-distance weighting
- [ ] Regularized minimal-energy tensor-product splines
- [ ] Second-order polynomial approximation
- [ ] KPLS
- [ ] KPLSK
- [ ] GEKPLS
- [ ] GENN
- [ ] Mixture of Experts
- [ ] Variable-fidelity modeling (VFM)
- [ ] Multi-Fidelity Kriging (MFK)

From https://smt.readthedocs.io/en/latest/

[2019-08-10 16:38] ludoro commented on #52
Wow, thank you so much for the notebook. Will take some time to read it and then I will open a PR for the implementation, and of course add you to the list of contributors in the docs!

[2019-08-10 20:13] #50 closed

[2019-08-11 06:03] ludoro commented on #12
Closing this because the samplings in the links are already implemented, but opening another separate issue for https://arxiv.org/pdf/1703.05312.pdf which is another surrogate I want to implement

[2019-08-11 06:03] #12 closed

[2019-08-11 06:05] ludoro opened #56 "Polynomial chaos (PC)"
New surrogate based on https://arxiv.org/pdf/1703.05312.pdf

There is the need for fast computation of Legendre, Laguerre and hermite polynomials before tackling this. EDIT: This could be done with the Julia package Polychaos

[2019-08-11 06:09] ludoro opened #57 "Changing bounds in RadialBasis function"
https://github.com/JuliaDiffEq/Surrogates.jl/blob/de12188c0bd263870628701439474564196a32e8/src/Radials.jl#L112
Looking at the implementation of RadialBasis, it is confusing because there is a single
`bound = [lb,ub]`, while all the other surrogates have separate lb,ub

[2019-08-11 10:18] ShreyasFadnavis commented on #57
@ludoro I would like to look into this issue! Would it be a good idea to refactor the rest of the Surrogates with 1 single bounds variable? I think it would be a better design decision to make use of a `tuple + warning` for the bounds parameter? something like `bounds=(lb, ub)` ? Let me know!
ps: newbie alert :)

[2019-08-11 10:50] ludoro commented on #57
Hi Shreyas!
First of all thank you for taking interest in Surrogates.jl :)
I do not have a strong opinion on the matter between `bounds=(lb, ub)` and `lb,ub`, I decided on the latter when I was looking at [Sobol.jl](https://github.com/stevengj/Sobol.jl), and I did not think about a Tuple.
Anyway I am a bit skeptical about changing everything to (lb,ub) because the design choice is all over the pla

[2019-08-11 11:15] ChrisRackauckas commented on #57
I think it's easiest to just have everything as two pieces. Putting a tuple in there makes it slightly overcomplicated IMO

[2019-08-12 12:43] agerlach commented on #52
👍  Take note that this code is just a prototype. I'm sure there is plenty of opportunity for improvement.

[2019-08-30 14:59] platawiec opened #65 "Adaptive/Sequential Sampling"
For expensive simulations, especially where one is not interested the optimum of the surrogate, but rather the general response function to input parameters, it may be beneficial to intelligently plan the sampling based on the knowledge of the current surrogate model. In some sense, this is similar to what the `surrogate_optimize` function does. This link is made explicitly in the docstring for `S

[2019-08-31 18:54] ludoro commented on #65
Hi @platawiec ! Thank you for opening the issue, this is a very interesting point.

Basically in this package you call `surrogate_optimize(....,optimization_algorithm,...)` and you can choose which surrogate optimization algorithm you want: focused on the minimum or focused on the sampling. As you say, for example `SRBF` is always alternating between exploration and exploitation while `LCBS` for e

[2019-08-31 18:54] #65 closed

[2019-09-01 20:48] platawiec commented on #65
Thanks @ludoro, that all makes sense and it's fairly clear. I thing making this exploration/exploitation explicit in the docstring is the way to go.

[2019-09-02 08:56] #29 closed

[2019-09-02 08:58] ludoro opened #66 "SOP ND"
Now that SOP 1D is complete, it should be quite straightforward to add another method for the ND case, using the other surrogate optimization method for aid as well as the following paper:

[2019-11-27 14:13] jibaneza opened #89 "SVMSurrogate assumes input size to be (1,2)"
I get a reshape error when evaluation the generated model because the code assumes the size of the input variables to be (1,2) in line 35 of SVMSurrogate.jl
[code]

[2019-11-28 00:35] ChrisRackauckas commented on #89
Yeah, that would do it. It shouldn't be hardcoding it to that. @ludoro what's the issue here? Should it really just be doing `val'`?

[2019-11-28 08:50] ludoro commented on #89
Nice catch @jibaneza, thanks a lot. The problem with `val'` is that the library LIBSVM I am calling gives weird problems with adjoints, so I need to "build" the right array manually to be able to use that. That should now be fixed with #90

[2019-11-28 09:49] ChrisRackauckas commented on #89
Fixed by https://github.com/JuliaDiffEq/Surrogates.jl/pull/90

[2019-11-28 09:49] #89 closed

[2019-11-28 09:50] ChrisRackauckas opened #91 "Not all sampling functions return the same shape, and shape not tested"
Not all of them return arrays of tuples. This should get tested.

[2019-11-28 09:50] ChrisRackauckas opened #92 "Register"
@JuliaRegistrator register()

[2019-11-28 09:51] #92 closed

[2019-11-28 09:51] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/5969](https://github.com/JuliaRegistries/General/pull/5969)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-11-28 10:10] ludoro commented on #91
On it

[2019-11-28 16:36] bblankrot opened #93 "EI Optimization fails silently"
Nothing is returned if `maxiters` iterations are exceeded (also in the 1D version):

https://github.com/JuliaDiffEq/Surrogates.jl/blob/6648536bd13ff5bbe88c852e69be091dc2136372/src/Optimization.jl#L586

It would be great if a descriptive message was returned, since I'm not sure why my test problem is failing (particularly when `maxiters` isn't much larger than `num_new_samples`)

[2019-11-29 10:48] ChrisRackauckas commented on #93
Hey, thanks for the report. Yes, a report or a return type with a retcode would be helpful.

[2019-12-01 00:10] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2019-12-01 00:10] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/6100](https://github.com/JuliaRegistries/General/pull/6100)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-01 00:50] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2019-12-01 00:50] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/6101](https://github.com/JuliaRegistries/General/pull/6101)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-01 14:35] ludoro commented on #93
Yep, going to add that, thanks for the suggestion!

[2019-12-02 07:26] #91 closed

[2019-12-02 13:46] #93 closed

[2019-12-04 16:59] platawiec opened #98 "Multidimensional Output Support"
Hi, enjoying the package very much.

It's clear that the initial algorithms are focusing on single-output surrogate models i.e. f: R^n -> R. There is a broad class of problems which would benefit from multi-output surrogate models i.e. f: R^n -> R^k.

It seems like you've given this some thought but I was wondering what your plan was regarding these, and if you needed support in any areas. On the

[2019-12-05 19:20] platawiec opened #100 "Singular Interpolation Matrices when using Radial Basis Functions"
There are two (related) circumstances when building interpolation matrices for radial basis functions where the resulting interpolation matrix is singular:

1. When there are many samples and `q>0`. This only occurs for multivariable inputs, so it likely has to do with the implementation of the monomial basis.
[code]

2. When there are noisy observations (multiple same `x`, different `y`). This ma

[2019-12-06 02:00] ChrisRackauckas commented on #100
Yeah Kriging in theory should handle this, so it's something we need to dig into. Thanks for the good issues: that's the first step to improvement 👍

[2019-12-06 18:03] ludoro commented on #100
Nice find! Thanks for opening the

You are right, the issue lies with the choice of the basis: Chris and I were already dubious back in june. Do you have a suggestion for that?
I rememeber I did struggle to find a stable one.

As for point two, your suggestion of the average seems right, I will look into implementing it and also check kriging.
Point 3 is an easy fix and will be added in the same P

[2019-12-06 21:47] platawiec commented on #100
I did some digging. The implementation is almost correct, the mistake is here:

https://github.com/JuliaDiffEq/Surrogates.jl/blob/master/src/Radials.jl#L124-L128

If you rewrite to the following (note I did a few things differently):
[code]
it works. Some radial basis functions (I was testing a thin plate spline) seem to have numerical issues unrelated to the above.

[2019-12-07 12:44] ludoro commented on #98
Hi @platawiec,
I am very glad you like it!
Actually, you are not the first person that has asked for multi-output surrogates. I can't say that it is the focus at the moment, but it definitely is a direction worth exploring.
Take into account that:
1. SVM and RandomForest are taken from other Julia libraries that call C code, so there is not much to do.
2. Multi output Kriging is a multi output Gau

[2019-12-07 16:16] platawiec commented on #98
Yes, I agree. I think a good strategy would be to dispatch on the type of `y` where possible, and throw errors if not implemented.

There is literature on getting optimization methods to work with multi-output surrogates, I'll have a look. I only recall seeing it for Gaussian Processes, however. (A higher priority for me is parallel query optimization, anyways)

Would you consider using Stheno or

[2019-12-08 07:10] ludoro commented on #98
Yes, we could use stheno!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-08 10:01] ludoro commented on #100
Nice, so now after the #101 PR, we need to figure how to solve the noisy problem to close this issue.
Now, I agree that it is an easy addition to do the average in the add_point for the RBF's.
Kriging is created using a matrix at the moment, so it also suffers with this problem. Do you have something in mind to make Kriging work out of the box as it should or should we just take the average there

[2019-12-08 23:07] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2019-12-08 23:08] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/6429](https://github.com/JuliaRegistries/General/pull/6429)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-10 12:51] ChrisRackauckas opened #104 "Re-enable LIBSVM tests when it stops having issues"
https://github.com/mpastell/LIBSVM.jl/issues/48

[2019-12-10 14:52] ChrisRackauckas commented on #104
@JuliaRegistrator register()

[2019-12-10 14:52] JuliaRegistrator commented on #104
Error while trying to register: "Tag with name `0.4.0` already exists and points to a different commit"

[2019-12-10 14:53] ChrisRackauckas commented on #104
@JuliaRegistrator register()

[2019-12-10 14:53] JuliaRegistrator commented on #104
Registration pull request created: [JuliaRegistries/General/6490](https://github.com/JuliaRegistries/General/pull/6490)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-13 18:33] ludoro opened #107 "Naive Multi output surrogates"
Following the closed PR #106, there is only the need to make the remaining Surrogates multi output, with the exception of Kriging and Lobachesky, in the rest every output is fit separately.

[2019-12-14 10:25] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2019-12-14 10:25] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/6717](https://github.com/JuliaRegistries/General/pull/6717)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-14 12:02] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2019-12-14 12:02] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/6723](https://github.com/JuliaRegistries/General/pull/6723)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-14 15:35] platawiec commented on #100
I think point 1 of the original issue post is resolved. Point 2 is resolved in `SthenoKriging` now.

Regarding point 2, I think there's three ways to fully resolve the issue:
1. Do nothing, but warn user in documentation that all input points must be unique
2. Check if all input points are unique, then throw a descriptive error message if not. We may suggest ways for the user to reduce their data

[2019-12-19 07:45] ludoro commented on #100
Yes, going with 2 seems reasonable. Will open a small PR to add that!

[2019-12-27 19:17] #100 closed

[2020-01-24 15:00] ludoro opened #116 "Improving RBF functionalities"
As discussed with @PatricioFarrel , here's a list of stuff that can be added to Radials:
(Something already in #115)

1. Let the user pick the function but then choose automatically the "q" parameters required for the polynomial degree

2. Scaling parameter to avoid numerical instability with few samples

3. Sparse constructor

4. Matrix free constructor

5. Multi level methods for solving the sys

[2020-01-25 22:03] aaowens opened #117 "Handle infinite/NaN values"
MWE of poorly conditioned objective function

[code]

I actually think there is a seperate issue here. When I run this example, I get
[code]
I get the same error even before the optimization step if I construct the Sobol grid with 100 points instead of 20. I'm not really sure why. It doesn't seem to have anything to do with the objective. I got the same thing when I used random function values.

A

[2020-01-25 23:39] ludoro commented on #117
Thanks for opening the issue!
From what I understood there are two problems here: one concerning the stheno implementation and one concerning the optimization method.

1) Stheno problem: I need to dig into this because I can’t really tell if the error lies in Surrogates or in Stheno

2) Optimization methods can indeed terminate very early, out of point is an OK message to get. I will add a check f

[2020-01-25 23:55] aaowens commented on #117
Yes, here's a simplified version of issue 1. It doesn't depend on the objective.
[code]
[code]

Regarding issue 2, my concern is that the infinite value might be added to the kriging sample, making the surrogate have infinite value everywhere (I think. It is a weighted average of all the sample points as I understand). However, it is still informative, since that point is clearly not a profitable

[2020-02-17 11:23] ChrisRackauckas opened #119 "DENSE surrogate"
https://www.sciencemag.org/news/2020/02/models-galaxies-atoms-simple-ai-shortcuts-speed-simulations-billions-times

https://arxiv.org/pdf/2001.08055.pdf

[2020-03-10 14:08] ludoro commented on #117
So I have been tracking the issues you are having. If I am not mistaken the first issue is related to the Stheno package, you could try to open a separate issue there. To be absolutely sure, you could check if building Kriging just using Stheno works.

As for issue number two, I am thinking about a way to incorporate this in the optimization methods, because having an `+Inf` in the Kriging surroga

[2020-05-02 14:47] ludoro opened #124 "Add new sampling methods:"
- [x] Niederreiter (equivalent to Sobol with generic base which I have implemented)
- [x] Hammersley (equivalent to Halton already implemented)
- [x] Kronecker
- [x] Golden sequence

Reference to take paper links: http://extremelearning.com.au/unreasonable-effectiveness-of-quasirandom-sequences/

[2020-05-10 14:01] #124 closed

[2020-05-13 07:47] #117 closed

[2020-05-14 18:12] mohamed82008 opened #130 "Standard API with kwargs"
Hi! Thanks for this neat package. I just think it would be nice if all the main surrogate constructors had the same arguments `X` and `y` with default values for their kwargs which may be unique to each method. For example, a dense NN surrogate with 3 layers can be the default for NN surrogates, the `lb` and `ub` arguments needed sometimes can be calculated from `X`, etc. This would make trying th

[2020-05-14 19:48] ChrisRackauckas commented on #130
Agreed, it would be great to have 1 argument switching between surrogates to test a wide variety out on a given problem very easily.

[2020-05-14 19:53] ChrisRackauckas opened #131 "Surrogate Global Optimization Challenge Problem"
It's probably a good time to start thinking about getting a challenge problem here. I tried using the surrogate optimization for global parallel optimization and ran into scaling issues with large design matrices as it was iteratively adding a point at a time. The case I was working on was proprietary so I cannot share it, but I think it would be good to get an open challenge problem to start tack

[2020-05-15 06:33] mohamed82008 commented on #131
How large are we talking @ChrisRackauckas?

[2020-05-15 12:29] ChrisRackauckas commented on #131
I was thinking something like 50 variables and objective times in the few seconds. If the objective times are in the minutes or hours I think it might be "too easy" to hide the issues of surrogate construction.

[2020-05-17 13:47] ludoro commented on #131
Interesting! I am up for it, however I need to think how to solve the "iteratively adding a point at a time" to let things scale. It is actually a known issue since the early days of Surrogates but I still have not many ideas

[2020-05-17 14:15] ludoro commented on #130
Hi mohamed, thanks for trying surrogates!
Then, I will add kwargs for all surrogates, while leaving `x,y,lb,ub` to be inputed by the user! I feel that calculating lb and ub from the x's would mess a bit with the modelling, so at first we can try out setting it up this way.

[2020-05-17 15:00] mohamed82008 commented on #130
Sounds good to me :)

[2020-05-17 16:29] ChrisRackauckas commented on #131
Maybe @PatricioFarrell  has some ideas, or @agerlach's idea of using iterative solvers might be helpful here because then it could use the previous solution as an initialization for the surrogate?

[2020-05-18 14:30] PatricioFarrell commented on #131
Actually, I think I have an idea. But let me first understand what exactly the problem is: Would you like to add more than one point instead of only one at a time and/or simply avoid the gradually increasing overhead by "remembering" the previous computations?

[2020-05-18 15:01] ludoro commented on #131
We are referring to your second point: It would be cool not to calculate everything again when we are just adding one single point, so in some sense remembering the previous calculations, yes.
But I mean also your first point looks worth exploring!

[2020-05-18 15:06] ChrisRackauckas commented on #131
When the surrogate starts to get a lot of points, it's solving a fairly large linear system each step. If the objective function is asymptotically large that's okay, but otherwise solving a 1000x1000 linear system from scratch every time becomes its own overhead, which then makes it difficult to scale a global optimization.

[2020-05-18 15:39] PatricioFarrell commented on #131
I agree, you don't want to recompute. The trick is to use a multilevel residual error correction scheme, see e.g.

https://epubs.siam.org/doi/10.1137/120898383
https://dx.doi.org/doi:10.1007/s00211-010-0313-8

This would become very effective if you fill in the area of interest homogeneously, not just one by one. However, I understand that maybe there is no other way if evaluating the objective fu

[2020-05-18 15:59] ludoro commented on #131
This looks interesting! I will take some time to understand those!

[2020-05-18 17:17] agerlach commented on #131
A couple of thoughts off the top of my head:
1. The Sherman–Morrison–Woodbury formula can be used to perform rank 1 updates on the inverse of a matrix. I have used it in the past but it requires explicitly knowing the inverse of the original matrix... at least thats how I used it.
2. In that same vain, perform rank 1 updates on a factorization of the interpolation matrix that readily leads to solu

[2020-05-18 19:55] agerlach commented on #131
I'm not quite sure what you are looking for in a test problem. Are [these](https://www.sfu.ca/~ssurjano/optimization.html) applicable?

[2020-05-19 02:01] aml5600 commented on #131
@agerlach I think you provided some good options! My thought would be the PUM idea would provide the most flexibility and effectiveness. An interesting benefit (addressed above) would be the ability to add batches points in addition to single-point updates. Would imagine you could update/solve the individual partition surrogates in parallel before solving the global fit.

[2020-05-19 07:10] ludoro commented on #131
Thanks for your input agerlach! Partition of unity looks really cool. I will implement your suggestions in the new months, stay tuned! :D

[2020-05-19 11:42] agerlach commented on #131
@ludoro Congrats on getting selected to GSoC again. I was happy to see it.

[2020-05-19 14:01] ludoro commented on #130
Thanks to the last few PR's, all the surrogates have now the standard form: `Surrogate(x,y,lb,ub)`.
Thanks for the idea!

[2020-05-19 14:01] #130 closed

[2020-05-19 14:07] mohamed82008 commented on #130
Thanks @ludoro, great response speed! Would be nice to update the docs as well and make a release if nothing else is cooking.

[2020-05-30 14:32] TeAmP0is0N opened #141 "Load and Argument Error"
[code]

[2020-06-01 18:01] TeAmP0is0N commented on #141
Tried `Pkg.resolve()`. Still it's not precompiling. :disappointed:

[2020-06-02 06:43] ludoro commented on #141
Which version are you using?

[2020-06-02 06:58] TeAmP0is0N commented on #141
I am using `Surrogates v1.1.2` and `Julia 1.4.1`.

[2020-06-02 07:50] ludoro commented on #141
Oh, that's strange! Not sure how to solve this.. stupid question: do you have XGBoost installed in the environment you are using?

[2020-06-02 09:14] TeAmP0is0N commented on #141
Yeah, I have XGBoost in my julia packages. I checked using `]st` and it's showing `XGBoost v0.4.3` but after removing `Surrogates` again I add `Surrogates` in my julia package and then precompile. Now, it is downloading `artifact: CUDA10.2` but I had `CUDA10.1`.

[2020-06-02 10:22] ludoro commented on #141
I see, now does it give the same error or does it work?

[2020-06-02 12:27] TeAmP0is0N commented on #141
No, now it's downloading `artifact: CUDNN+CUDA10.2`. When this process will complete, I will update you.

[2020-06-02 13:43] TeAmP0is0N commented on #141
Thanks a lot, @ludoro Sir for continuous support. Now, `surrogates` is working without any error. After downloading two artifacts `artifacts: CUDA10.2` & `artifacts: CUDNN+CUDA10.2`. This problem has resolved. Thanks. 🥰

[2020-06-02 15:55] ludoro commented on #141
That's very nice to hear, but you did it all yourself! Enjoy surrogates and contact me if there are any more problems!

[2020-06-02 16:17] TeAmP0is0N commented on #141
Surrogates are working but still, I am not able to understand one thing why it is throwing these warnings and errors. 😞
[code]

[2020-06-02 19:46] ludoro commented on #141
Oh!
It's the first time I see the compilecache error, take a look at this: https://discourse.julialang.org/t/precompilation-error-using-hpc/17094/3
As for the warnings on XGBoost, I am not getting those, it is probably related to the setup you have? Maybe try the following steps to fix that, with this: https://stackoverflow.com/questions/52878233/warning-package-xxxxx-does-not-have-pomdpsimulators

[2020-06-02 19:46] #141 closed

[2020-06-03 06:10] TeAmP0is0N opened #143 "error when I am building a Surrogate using Radial Basis Surrogate"
When I am building a Surrogate for

\begin{align*}
f(x) = log(x)*x^2 + x^3
\end{align*}

 which is shown in your tutorials. So, we choose the Radial Basis Sorrogate.
[code]
Domain error
[code]
After this, if I called `log` with a `complex` argument. It throws `inexact` error.
[code]
You can also view my [notebook](https://github.com/TeAmP0is0N/Repo-2020/blob/master/error/Domain%20Error.ipynb).

[2020-06-03 07:39] ludoro commented on #143
This documentation issue will be the starting point of your contributions on Surrogates as discussed on slack

[2020-06-05 09:10] #143 closed

[2020-06-11 10:35] #107 closed

[2020-06-11 10:36] #98 closed

[2020-06-11 10:37] ludoro commented on #116
Closing this as everything is done apart from "Multi level methods for solving the system", which falls under the surrogate challenge issue.

[2020-06-11 10:37] #116 closed

[2020-06-11 10:38] ludoro commented on #57
I fixed this

[2020-06-11 10:38] #57 closed

[2020-06-14 07:21] ludoro opened #151 "Fixing docstrings"
Docstrings are not up to date with recent changes, it would be nice to have them fixed.

[2020-06-14 07:25] ludoro opened #152 "Docs: examples for each surrogate"
Under tutorials: instead of "Basics" and "Stheno with Kriging", it would be nice to have a tutorial for each surrogates both 1D and ND, showcasing different features and calling and optimization method.

- [ ] Radials
- [ ] Kriging
- [] Lobachesky
- [] Neural
- [] Inverse distance
- [] Linear
- [] Second order poly
- [] RandomForestSurrogate

[2020-06-14 09:50] #151 closed

[2020-06-14 15:12] TeAmP0is0N commented on #152
I will work for Radial Surrogate.

[2020-06-14 16:21] mrandri19 commented on #152
I can take Kriging

[2020-06-15 06:56] michiboo commented on #152
I will work on RandomForestSurrogate

[2020-06-15 12:42] ChrisRackauckas opened #156 "Gradient-enhanced surrogates"
- [ ] Gradient enhanced kriging (https://smt.readthedocs.io/en/latest/_src_docs/surrogate_models/gekpls.html)
- [ ] Gradient enhanced neural networks (https://smt.readthedocs.io/en/latest/_src_docs/surrogate_models/genn.html)

[2020-06-15 16:31] ludoro commented on #156
Nice thanks, they could be good assignment for the MLH students

[2020-06-17 07:38] #52 closed

[2020-06-18 00:48] kynac1 commented on #141
Thought I'd mention that I can replicate this issue. It seems that the tagged 1.1.2 version doesn't have XGBoost under [deps], only under [extras] and [targets], while the master branch does indeed include it under [deps]. May be a good idea to tag a new release?

[2020-06-18 14:05] TeAmP0is0N commented on #152
Now, I will work on Linear Surrogate.

[2020-06-19 09:06] ludoro commented on #141
Hey kynac, yes I will be tagging a new release soon after I get the Mixture of expert up and running in a day or two!

[2020-06-21 11:58] michiboo commented on #152
Now, I will work on Lobachesky Surrogate.

[2020-06-24 11:14] ludoro opened #175 "ND Polynomial basis in Radials"
At the moment, in Radials.jl we have two different polynomial basis:

1) In the 1D case we have _scaled_chebyshev, which makes sense and well behaved.

2) For the ND (say 2D) case, at the moment I have "centralized_monomial" which however is not a basis, because it only has values of the form (xyz-central point)^k/(lb-ub/2) with k  varying. It is not important to devise a well performing basis, fo

[2020-06-24 11:14] ludoro commented on #175
@mrandri19

[2020-06-27 14:06] #56 closed

[2020-06-29 14:54] MrUrq commented on #131
This sounds good, I would also be interested in an open challenge problem of this nature for benchmark purposes.

Do you only solve the eq system once when adding a sample or do you tweak some hyperparameters every time as well? If you are optimising the hyperparameters each time, perhaps some form of dropout (https://machinelearningmastery.com/dropout-for-regularizing-deep-neural-networks/) in co

[2020-06-30 07:00] ludoro commented on #152
@TeAmP0is0N there is a problem with the objective function in the linear docs, can you fix that?

[2020-06-30 12:54] TeAmP0is0N commented on #152
Done!

[2020-06-30 15:28] TeAmP0is0N commented on #152
I will work on Inverse Distance Surrogate.

[2020-07-02 04:38] michiboo commented on #152
I will work on Second order poly

[2020-07-04 15:32] ludoro opened #185 "Benchmarking"
It would be cool to test many surrogates against benchmarks from: https://smt.readthedocs.io/en/latest/_src_docs/problems.html  and https://www.sfu.ca/~ssurjano/optimization.html

Also the pollu diffeq system would be a good benchmark to have, much more difficult than the others and could work as the optimization problem (#131)

[2020-07-05 15:19] ludoro commented on #175
#188

[2020-07-07 12:06] #175 closed

[2020-07-07 19:12] leoherz opened #192 "Pkg.add("Surrogates") is installing v1.1.2 , not the latest v1.2"
Hey guys,

I was trying to install the new version 1.2 to fix the XGBoost bug, but Pkg.add("Surrogates") install the previous version v1.1.2

When I try to force a specific version with Pkg.add(Pkg.PackageSpec(;name="Surrogates", version="1.2")) , I get the error:

Unsatisfiable requirements detected for package Surrogates [6fc51010]:
 Surrogates [6fc51010] log:
 ├─possible versions are: [0.1.0-0.

[2020-07-08 06:56] ludoro commented on #192
Thanks for spotting this. Did you already have the 1.1.2 version installed? What happens if you try to update that?

[2020-07-08 11:50] leoherz commented on #192
I had the v1.1.2 installed, and when I saw the release, I tried to update. However, the console states that I am already using the latest version, thtat there no updates. I thought this was strange, so I uninstalled Julia and tried from the scratch, but still I got the same version v1.1.2. I am not familiar with software engineering concepts, such as pull, branch, commit, etc, but maybe there is a

[2020-07-08 12:25] ludoro commented on #192
I see, I find it strange because in the Julia registries (https://github.com/JuliaRegistries/General) I can see it with version 1.2.
I will ask more knowledgable people, in the mean time there is the possibility clone the master branch of Surrogates.jl and work with that, if that suits you. Hopefully I will get around this issue in the next few days though.

[2020-07-08 13:48] ludoro commented on #192
Can you try to delete the registries directory and then add it again with `] registry add General` followed by `] registry update`?  I think that should do the trick!

[2020-07-08 15:57] leoherz commented on #192
Hi ludoro,

I followed your instructions, and I believe that problem was solved. This is what I am getting now:

![image](https://user-images.githubusercontent.com/44455487/86941217-13940680-c11a-11ea-80d9-7091d63474ee.png)

At least now, the precompiling is running only once. In the v1.1.2, for every new session in Atom, everytime I executed "using Surrogates", the package was recompiled, and the

[2020-07-08 16:00] leoherz commented on #192
another evidence of the solution:

![image](https://user-images.githubusercontent.com/44455487/86941949-f0b62200-c11a-11ea-9d40-bb934f2bf0e4.png)

[2020-07-08 17:22] ludoro commented on #192
To solve that warning, you could probably try to upgrade LLVM. Apart from that, I am glad it now works and the XGBoost bug is solved. I will close this

[2020-07-08 17:22] #192 closed

[2020-07-08 17:39] leoherz commented on #192
Ok, thanks a lot for your help =)

[2020-07-11 11:17] Rish001 commented on #66
Hi I would like to work on this

[2020-07-11 12:22] ludoro commented on #66
Hey Rish, that's great! If you need suggestions please contact me on Julia Slack :)

[2020-07-13 09:01] #17 closed

[2020-07-30 07:51] ludoro commented on #131
Hey @MrUrq , thanks for your take. I actually never change the hyper parameters once the surrogates is defined.
I did not get the part about infill criteria in combination with @async, can you explain that again?

[2020-07-31 16:01] #185 closed

[2020-08-01 20:53] ludoro opened #210 "Add benchmarks to highlight optimization methods"
https://www.sfu.ca/~ssurjano/optimization.html

[2020-08-12 11:14] MrUrq commented on #131
Hi @ludoro, in my case new points in the design space are sampled simultaneously as the surrogate model is being created. Once the new surrogate model is created, the previous one is replaced with the new one. This process is continuously repeated.
So the timeline looks something like this:
Objective function    |------| |------| |------| |------| |------| |------| |------| |------| ...
Surrogate

[2020-08-12 16:55] ludoro commented on #131
I see, got it. Thanks!

[2020-08-16 07:46] ludoro opened #222 "Earth and MOE not working properly in some cases"
Need to look into cases where these two surrogates are not working as expected

- [ ] Earth

- [ ] MOE

[2020-08-17 10:35] ludoro opened #224 "Showing how to optimize surrogates hyperparams with Hyperopt.jl"

[2020-08-20 18:36] #66 closed

[2020-08-26 11:46] #210 closed

[2020-08-31 23:53] ranjanan opened #230 "Surrogates v1.2.0 Does not precompile on v1.5"
[code]

[2020-09-01 13:26] ChrisRackauckas commented on #230
Looks like it's a Stheno problem @willtebbutt?

[2020-09-01 15:04] willtebbutt commented on #230
Not sure it's a Stheno problem. I've been consistently getting those scoping warnings but have yet to figure out how to get rid of them -- they've not been affecting day to day use of the package though. [They're possibly a Julia bug](https://discourse.julialang.org/t/global-local-scope-warnings-in-1-5/44566).

Looks more like an issue in GaussianMixtures to me.

[2020-09-02 06:21] ludoro commented on #230
Thanks ranjanan I will take a look. yes, it looks related to GaussianMixtures to me as well.

[2020-09-15 07:05] ludoro commented on #230
Should be solved with v1.3

[2020-09-15 07:05] #230 closed

[2020-10-07 15:18] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2020-10-07 15:18] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/22529](https://github.com/JuliaRegistries/General/pull/22529)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-11-11 17:10] platawiec opened #238 "Proposal: separate surrogate settings from x, y points"
**Motivation**

Although the surrogate type defines the surrogate construction, it cannot act as a generic algorithmic dispatch if the user already has a set of points `(x, y)`.

The proposed design tracks with the `DiffEq` ecosystem closer, as a bonus.

**Current State**

Currently, each `AbstractSurrogate` includes both the surrogate algorithm and the `x, y` points the surrogate is generated ove

[2020-11-12 04:35] ChrisRackauckas commented on #238
I think that's a pretty neat design and could work well.

[2020-11-12 07:26] ludoro commented on #238
Wow, this is actually very cool and well thought out. I see your point on separating the (x,y) with the rest.

[2020-11-12 13:47] platawiec commented on #238
Great, thanks for the warm reception! I'll submit a WIP PR over the weekend to flesh this out in more detail.

[2020-11-19 21:28] ArnoStrouwen opened #239 "Documentation improvements"
- Not every optimizer/surrogate/sampler has a clear example what parameters have to be passed for it to work.
Often the box around a code snippet is missing, and there are missing doc-strings.

http://surrogates.sciml.ai/dev/optimizations/
http://surrogates.sciml.ai/dev/surrogate/
http://surrogates.sciml.ai/dev/samples/

- Stheno is mentioned on the front page as a possible surrogate, but the exam

[2020-11-20 05:59] ludoro commented on #239
Thanks for the comments Arno, will look into it in the weekend. As for your point number three, it's true and I should write that more explicitly.

[2020-12-26 13:27] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2020-12-26 13:27] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/26948](https://github.com/JuliaRegistries/General/pull/26948)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-12-26 14:25] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2020-12-26 14:25] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/26951](https://github.com/JuliaRegistries/General/pull/26951)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-12-26 14:56] JuliaTagBot opened #243 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-12-26 14:56] #243 closed

[2021-01-05 10:07] JulienPascal opened #244 "SOP"
Hi,

My understanding from the [documentation](http://surrogates.sciml.ai/stable/optimizations/#Surrogates.surrogate_optimize-Tuple{Function,SOP,Number,Number,AbstractSurrogate,SamplingAlgorithm}) is that SOP can run with several workers a cluster. Is that correct?

If yes, could you provide an example on how to do so?

Many thanks.

[2021-01-06 20:33] ludoro commented on #244
Yes it should indeed work in parallel, but I have never tried it on actual problems. Feel free to try it out and if you manage a PR describing it would be very appreciated!

[2021-01-31 18:02] aditya-kamath commented on #54
Hi Chris, I've looked into GENN's a bit. It looks interesting, they add the derivatives to the cost function as well. Just wanted to let you know that I'll be taking this up this week!

[2021-01-31 18:16] ChrisRackauckas commented on #54
Okay cool. I would say the ones to do right now though would be not the GENN and the GEKPLS. I know someone else working on the GEKPLS. For the GENN, I think you might run into issues with Zygote.jl that are solved with Diffractor.jl (not released yet). So I would wait for Diffractor.jl for the GENN (it should be coming in March?). If you do give it a try, you may need to do something like Reverse

[2021-01-31 19:03] aditya-kamath commented on #54
Oh, in that case. Maybe I can get started with MFK?

[2021-01-31 19:05] ChrisRackauckas commented on #54
yeah that could be a good one.

[2021-01-31 19:30] ChrisRackauckas commented on #54
You might also want to get in contact with @ludoro as well.

[2021-01-31 19:37] aditya-kamath commented on #54
Okay, I'll do that ! :D

[2021-02-11 01:34] fredcallaway opened #247 "Missing dependency?"
I get this error message, trying to precompile Surrogates (with julia 1.5.3)

[code]

After `] add XGBoost`, it gets past XGBoost (giving a warning version of the error above) and then errors for Flux.

[2021-02-11 10:01] ChrisRackauckas commented on #247
Both are in its dependencies. Did you let the resolver run?

[2021-02-11 18:30] fredcallaway commented on #247
I tried `Pkg.resolve()` yes. I see they are listed under [extra] in Project.toml. Maybe that means they should not be required for precompilation, (but in fact they are required)?

[2021-02-12 08:55] ChrisRackauckas commented on #247
Yes that looks like a mistake that needs to be corrected.

[2021-02-12 20:06] ludoro commented on #247
Hey Fred, thanks for spotting it. Care to open a PR to fix it by changing the Project.toml?

[2021-02-14 06:46] #247 closed

[2021-02-14 06:46] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-02-14 06:46] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/30035](https://github.com/JuliaRegistries/General/pull/30035)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-02-15 01:47] ArnoStrouwen commented on #239
- Could documentation about `EGO()` and `RTEA()` be added to http://surrogates.sciml.ai/stable/optimizations/ ?
- It is not fully clear from the docs which optimizers can sample multiple new points at once, i.e. batches of observations, and which ones can only handle one new observation at a time.
- Are there any optimizers that can deal with discrete factors `x`?

[2021-02-15 15:42] ArnoStrouwen opened #249 "Constrained Bayesian optimization"
Look for "outcome constraints" in
https://ax.dev/tutorials/building_blocks.html#4.-Define-an-optimization-config-with-custom-metrics

An example in SciML would be Bayesian optimization of a yield of a chemical reaction, but make sure some other product is not produced more than 1%.

[2021-02-25 16:14] mdsa3d opened #250 "Incorrect predicted values for kriging function"
I build an example code for a `surrogate model` using `kriging` function,
# Julia (Surrogate)
[code]
Plot for the code comparing `sample points` and `surrogate.kriging` values:
![image](https://user-images.githubusercontent.com/75714714/109180658-0ec5b500-77c6-11eb-8b55-15472f03a846.png)

Here is my comparison code example for `rbf` function from `scipy.interpolate` in pyhton:
# Python (Scipy.inte

[2021-02-25 17:33] ranjanan commented on #250
As an initial observation, the Julia Kriging prediction looks laterally shifted to my eye

[2021-02-25 17:53] ranjanan commented on #250
[code]

![image](https://user-images.githubusercontent.com/9101377/109195032-0dfe3600-7768-11eb-80f6-57fb5d528893.png)

[2021-02-25 17:58] ChrisRackauckas commented on #250
Kriging and RBFs should go through the points for any kernel though IIRC? That still looks off.

@ludoro

[2021-02-25 17:59] ranjanan commented on #250
I just noticed the comparison isn't right. I changed to code to make the comparison one to one:
[code]

![image](https://user-images.githubusercontent.com/9101377/109196133-536f3300-7769-11eb-94bf-978cf3df711b.png)

[2021-02-25 18:00] ranjanan commented on #250
This looks like a reasonable fit to me. I don't see a bug here.

[2021-02-26 00:03] ChrisRackauckas commented on #250
Yeah that looks right what did you change?

[2021-02-26 16:33] ranjanan commented on #250
I just sampled uniformly instead of using Sobol samples (since the python code sampled uniformly), and tested on 101 samples (like Python). Also, fixed the plotting.

[2021-02-26 16:35] ChrisRackauckas commented on #250
Oh...

[2021-02-26 16:35] #250 closed

[2021-02-28 17:19] mdsa3d commented on #250
Sorry for late reply, thanks for fixing the my mistake,
I highly appreciate it!!!

Thanks @ChrisRackauckas @ranjanan for the clearing this doubt and providing quick response.

[2021-03-04 15:03] sdwfrost opened #251 "Performance of kriging compared to mogp-emulator?"
I'm trying to implement history matching; the basic idea is quite simple - you make an emulator that can generate standard errors (e.g. a Gaussian process) and train on quite a small number of simulations. Then, for a given datapoint (or datapoints), one calculates a measure of implausibility (e.g. mean/se), and excludes datapoints above a threshold (eg 3).

As an example, I'm following the [tutor

[2021-03-04 15:07] ChrisRackauckas commented on #251
I think it's a numerical stability thing. Not quite sure that right way to compat it. Try changing the linear solver to an SVD for starters. Maybe the way it builds the summation is less stable.

[2021-03-04 15:34] sdwfrost commented on #251
Thanks; I thought it was that `Kriging` wasn't doing any optimization (in terms of its parameters, not in terms of its points) - am I right in thinking that the optimize routines here only choose points? Should I instead use an off-the-shelf GP instead (and if so, any recommendations between the several GP packages)?

[2021-03-05 07:34] ArnoStrouwen commented on #249
https://arxiv.org/abs/1706.07094

[2021-03-07 12:54] ludoro commented on #251
If you call optimization on the Kriging surrogate, you are implicitly going to sample more points and looking for the minimum. So you are right: it's about looking for new points and not finding the "best" hyperparams.

[2021-03-19 05:29] RohitRathore1 commented on #224
So we have to prepare documentation?

[2021-03-19 10:46] ChrisRackauckas commented on #224
yes

[2021-03-28 21:36] ChrisRackauckas opened #258 "Fix multioptimization test"
@ludoro somehow `my_radial_basis_ego` isn't defined anywhere? I think you may have merged that PR without all of the commits?

[2021-03-28 21:39] ChrisRackauckas opened #259 "MOE tests are commented out"
@ludoro can you document why?

[2021-03-28 22:34] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-03-28 22:35] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/33041](https://github.com/JuliaRegistries/General/pull/33041)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-03-29 18:50] ludoro commented on #259
Oh yes, I remember: some times ago GaussianMixtures had some compatibility issues with a new Julia version and I had to wait for them to fix that. Will look into it, it should be working now

[2021-03-29 18:53] ludoro commented on #258
Yep, good first issue for newcomers, just un comment the last lines in optimization.jl and change the name of radial surrogate to make it compatible with the optimization call.

[2021-03-30 04:25] ChrisRackauckas opened #264 "Exponentially bad performance of radial basis polynomial basis evalution"
[code]

As the docstring says, `Time complexity: `(n+1)^d.` This is really bad. To avoid the issue in the linear radial basis function I can hardcode the solution, i.e.:

[code]

but this only fixes the degree zero case. This should be a priority to fix because this is the majority of the time consume in large RBF fitting. This literally leads to a >100,000x acceleration in a case that I was looki

[2021-03-30 04:38] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-03-30 04:38] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/33153](https://github.com/JuliaRegistries/General/pull/33153)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-04-12 06:45] ArnoStrouwen opened #267 "Information theory criteria for design space exploration"
Taken from a discussion with @ludoro on SciML slack:

As an alternative to acquisition functions, such as expected improvement, information theory based criteria could be used to pick new points to evaluate the objective at. Such as Fisher information or Shannon information. Some of these methods are described in:
https://link.springer.com/chapter/10.1007/978-1-4939-8847-1_6
These information theo

[2021-04-12 14:18] ChrisRackauckas opened #269 "Put Stheno behind Requires"
@ranjanan can you handle this?

[2021-04-12 15:45] ranjanan commented on #269
Yes

[2021-04-12 17:58] #269 closed

[2021-04-12 17:59] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-04-12 17:59] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/34107](https://github.com/JuliaRegistries/General/pull/34107)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-04-19 02:22] mdsa3d opened #271 "LinearAlgebra.SingularException Error during runtime"
I am trying to execute `radial basis interpolation` using the following code:

[code]
Upon executing this above code I am getting the following error:

[code]

Please suggest solution to resolve this error!!

I have posted this question on discourse and stackoverflow too,
Reference links:
**Discourse:** https://discourse.julialang.org/t/linearalgebra-singularexception-error-while-executing-radial-

[2021-04-19 03:22] #271 closed

[2021-04-19 03:24] mdsa3d commented on #271
The error is related to `type error` of the train input.
So when I force the code to identify the input as the matrix then it works!

[2021-04-22 04:22] mdsa3d opened #274 "LinearAlgebra.SingularException(9) while running radial basis function with rad=multiquadric radial"
I am trying to run the `Radial basis` function with `multiquadricRadial`, to execute this operation I have created the following script:

[code]
This script works when the `rad=linearRadial` but upon changing it to `MultiquadricRadial` it throws the following error:

[code]

Please suggest what might be causing this issue?

Thanks!!

[2021-04-22 10:05] JulienPascal commented on #244
Thanks for your answer. I'll take a look at the code see what I can do.
Cheers

[2021-04-23 06:56] maxkapur commented on #239
The `surrogate_optimize()` function seems underdocumented as well. Only some of the methods listed [in the documentation](http://surrogates.sciml.ai/stable/optimizations/) even have docstrings, and it is not clear what I am suppose to pass as the second argument (e.g. `::DYCORS`).

I could only find one example in the docs that [actually calls](http://surrogates.sciml.ai/stable/multi_objective_opt

[2021-04-23 07:54] ludoro commented on #274
Hey! Can you try and use a different sampling technique, using one that comes from Surrogates.jl directly? I want to see if you have the same problem there, because it looks like the matrix is singular, so I wonder if the sampling could be the problem here. Let me know how it goes :)

[2021-04-23 13:27] mdsa3d commented on #274
@ludoro thanks for the response, yes you are right when I am using the in-built sampling technique it works. May I know how can I supply my custom `x` and `y` values in the acceptable sampling format? Highly appreciate your help!!

[2021-04-24 07:49] ludoro commented on #274
No problem 👍 . Usually, when you do this approximation things using uniform sampling as range you can encounter strange numerical problems, e.g the standard example with polynomial + uniform sampling. That's why when you do this kind of simulations you use already made sampling techniques with suitable properties.

What I suggest doing then is to sample your x values using common sampling techniqu

[2021-04-30 07:24] #274 closed

[2021-05-16 16:38] lamorton opened #277 "Fourier neural operators?"
I'm not sure if this is the right package, but I'd be interested to see [Fourier Neural Operators](https://github.com/zongyi-li/fourier_neural_operator) implemented in Julia. @ChrisRackauckas I imagine you're aware of this, where do you think it would best fit?

[2021-05-16 16:40] ChrisRackauckas commented on #277
NeuralPDE.jl is a better place and has an issue for this.

[2021-05-16 16:40] #277 closed

[2021-05-22 20:22] 00sapo opened #278 "Plans for parallel optimization"
Is there any plan for introducing parallel optimization?

For instance, scikit-optimize has an ask-tell interface that allows asking for the best N candidate points (according to the acquisition function) and then fitting the surrogate model with the new N points added.

Example [here](https://scikit-optimize.github.io/stable/auto_examples/parallel-optimization.html)

What about creating similar `

[2021-05-23 13:05] ChrisRackauckas commented on #278
Yes, it just needs a vector input, and then `ask` is just compatible with only a few samplers (like Sobol), and would need to get implemented.

[2021-05-23 14:48] 00sapo commented on #278
Don't get why some acquisition functions wouldn't be compatible...

[2021-05-23 19:48] ChrisRackauckas commented on #278
Some samplers, like LatinHypercube, have to be batched all at once to guarantee some of their properties.

[2021-05-24 07:10] 00sapo commented on #278
Ah ok! So we can create another abstract structure for parallelizable samplers and another function for parallel optimization.

If this is ok, I'll try to create a PR in a few weeks

[2021-06-11 10:12] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-06-11 10:12] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/38645](https://github.com/JuliaRegistries/General/pull/38645)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-06-22 09:55] troyrock opened #280 "Translate sklearn to Julia request"
I've been trying to figure out how to utilize Surrogates.jl to duplicate some code I found in python.  I'm new to kernels and how they are used so don't hesitate to explain what I'm not understanding.  The python code uses the squared exponential kernel (Radial Basis Functions) to produce n random but smooth functions:

[code]

When I plot the results I get plots that look like the following for n

[2021-07-01 02:30] troyrock commented on #280
I found another way to do this:

[code]

[2021-07-01 02:30] #280 closed

[2021-07-30 16:58] stevengj opened #283 "high-order polynomial surrogates?"
Right now I see that you have linear and 2nd-order polynomials, but it might be nice to support arbitrary order.

In case it is of interest, I have a reasonably fast implementation of arbitrary-order arbitrary-dimensionality Chebyshev interpolation/fitting supporting multiple outputs and differentiation at https://github.com/stevengj/FastChebInterp.jl (currently unregistered).   (We originally use

[2021-08-03 12:12] ChrisRackauckas commented on #283
Agreed this is needed. This repo needs those, but also it needs a bit more optimization work.

[2021-08-03 18:53] atiyo commented on #267
To take this idea a bit further: the whole notion of efficient data acquisition for surrogates is essentially the same as active learning.From this perspective, one might

[2021-09-10 10:57] adrhill opened #298 "Possible bug in `surrogate_optimize`"
I don't know how `surrogate_optimize` works, but it makes use of a variable/counter called `success`. However, in L358, this variable is misspelled:

https://github.com/SciML/Surrogates.jl/blob/73fd3bfee3ddf0b737d14682109b32c4e40324fb/src/Optimization.jl#L358

[2021-09-10 15:14] ChrisRackauckas commented on #298
Interesting. That should at least get fixed. Do that and see if tests pass? I guess it just never reset properly.

[2021-09-11 12:26] #298 closed

[2021-09-22 15:57] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-09-22 15:57] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/45368](https://github.com/JuliaRegistries/General/pull/45368)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-09-24 16:07] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-09-24 16:07] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/45475](https://github.com/JuliaRegistries/General/pull/45475)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-11-07 13:50] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2021-11-07 13:50] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/48337](https://github.com/JuliaRegistries/General/pull/48337)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-11-11 18:47] jdossgollin opened #305 "Docs for NeuralSurrogate"
Three issues with the NeuralSurrogate docs

First, loading the recommended packages yields a warning

[code]

This seems OK but it would be helpful to have a heads up for users.

Next, an error.
Following along, there is no `lb` or `ub`:

[code]

Next if I make up some numbers, there is a typo

[code]

but even if I fix the typo I get an issue

[code]

[2021-11-12 06:39] ChrisRackauckas commented on #305
Interesting, the test seems to be fine though? https://github.com/SciML/Surrogates.jl/blob/master/test/neuralSurrogate.jl

[2021-12-09 03:22] sharanry opened #308 "Flux not in dependencies warning"
Not sure why this annoying warning pops up only with Flux and not other required packages like Stheno or PolyChaos.

[code]

[2021-12-17 23:40] ArnoStrouwen commented on #267
https://bayesoptbook.com/
Overview of many interesting techniques such as entropy search.

[2022-01-13 02:33] vikram-s-narayan opened #311 "SVMSurrogate.jl Tests Not Running"
The SVMSurrogate.jl test has been commented out in [runtests.jl](https://github.com/SciML/Surrogates.jl/blob/master/test/runtests.jl). Related code in the [optimisation test](https://github.com/SciML/Surrogates.jl/blob/master/test/optimization.jl)  is also commented out. Possibly because of issues with [LIBSVM](https://github.com/SciML/Surrogates.jl/issues/104).

[2022-01-13 05:25] vikram-s-narayan commented on #311
I am hoping to fix and make a PR soon.

[2022-01-13 05:51] vikram-s-narayan commented on #311
Closing this issue as it is already addressed [here](https://github.com/SciML/Surrogates.jl/issues/104).

[2022-01-13 05:51] #311 closed

[2022-01-15 14:59] vikram-s-narayan opened #313 "Kriging error in example from tutorial"
**Description:**
The Kriging code from the [tutorial](https://github.com/SciML/Surrogates.jl/blob/master/docs/src/tutorials.md) produces a 'ReadOnlyMemory()' error.

**To Reproduce:**
Run the following code. Error occurs on my system if number of sampling points is greater than 65:
[code]

**Device information:**
MacBook Air (M1, 2020)
Chip Apple M1

[2022-01-16 11:28] ChrisRackauckas commented on #313
That could be an M1 issue. It runs fine on my laptop. @vchuravy do you know how we can get someone to look into this?

[2022-01-16 16:17] vchuravy commented on #313
@vikram-s-narayan can you post a full stacktrace?

@ChrisRackauckas We probably need some M1 Macs for the lab, but until after https://github.com/JuliaLang/julia/pull/43664 M1 is known to crash on occasion.

[2022-01-17 07:36] vikram-s-narayan commented on #313
@vchuravy - the only message shown is:
ERROR: LoadError: ReadOnlyMemoryError()
in expression starting at Untitled-1:8

Also, when I run these lines from inside a standalone terminal (i.e. not from within VS Code), the error does not show up.

[2022-01-19 05:52] vikram-s-narayan commented on #313
I'm closing this issue as it is related to the VS Code Julia extension.

[2022-01-19 05:52] #313 closed

[2022-01-25 02:31] vikram-s-narayan commented on #156
I would like to work on Gradient Enhanced Kriging.

[2022-02-18 07:44] Chronum94 opened #316 "[BUG] Radial basis function interpolation with anything other than linearRadial basis functions is wrong"
Python code:
[code]
Julia code:
[code]

Below: Linear and cubic radial basis interpolation with Scipy's RBFInterpolator. Fairly similar. Multiquadric with epsilon=2.0 will also give something very similar.

![2022-02-18 02_31_44-Fedora 34 SSD  Running  - Oracle VM VirtualBox](https://user-images.githubusercontent.com/6704979/154638797-86c8fbb8-98ba-49cd-815c-5dc077ab84bc.png)
![2022-02-18 02_32_01

[2022-02-18 10:40] ChrisRackauckas commented on #316
@vikram-s-narayan this would be well worth looking into.

[2022-02-19 03:31] vikram-s-narayan commented on #316
@Chronum94  - thanks for the details provided. I will investigate this issue.

[2022-02-27 08:01] vikram-s-narayan commented on #316
@ChrisRackauckas

I’ve made some small changes to the RBF code by basically removing references to multivar_poly_basis.

These are the results I’m getting on my system at the moment:

With multiquadricRadial:
<img width="593" alt="Screenshot 2022-02-26 at 8 29 34 PM" src="https://user-images.githubusercontent.com/5373305/155873729-a559b945-864f-4554-aef3-7685526290c2.png">

With cubicRadial:
<img

[2022-02-27 14:27] ChrisRackauckas commented on #316
`multiquadricRadial` still looks a little odd?

But yes, a PR for these would be great.

[2022-02-28 10:15] vikram-s-narayan commented on #316
Yes. I will check the multiquadricRadial formula implementation.

[2022-03-01 14:07] vikram-s-narayan commented on #316
@Chronum94
Would you try changing the scale factor and test with your data?

So basically change:

`rbf = RadialBasis(xyz, data[:, 4], [-0.45 -0.4 -0.9], [0.40 0.55 0.35], rad=multiquadricRadial) `

to something like:

`rbf = RadialBasis(xyz, data[:, 4], [-0.45 -0.4 -0.9], [0.40 0.55 0.35], rad=multiquadricRadial, scale_factor = 0.7)`

Thanks!

[2022-03-03 06:45] Chronum94 commented on #316
Can confirm that both cubicRadial and multiquadricRadial with scale_factor=0.7 work as intended. I can optimize the scale_factor using some cross-validation, but the Radials.jl in the gist works as intended.

[2022-03-03 07:18] vikram-s-narayan commented on #316
Awesome :)

[2022-03-03 09:03] Chronum94 commented on #316
Before we close, is there a summary of what was wrong (I'll go check the fork's commits, but developer thoughts help).

[2022-03-03 14:29] vikram-s-narayan commented on #316
The default scale_factor was set to 1 without any obvious way for the user to know that it can be tweaked.
BTW, if possible, can you please share  the function that you used to generate the data? This will help us to write a new test case.
Thanks :)

[2022-03-04 05:49] vikram-s-narayan commented on #316
That would be great. Thank you.

[2022-03-04 07:08] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-03-04 07:08] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/55950](https://github.com/JuliaRegistries/General/pull/55950)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-03-05 08:22] Chronum94 commented on #316
@vikram-s-narayan It isn't an exact copy, but it has all of the major features of the above dataset and should provide a reasonable test case.

[code]

[2022-03-08 05:42] vikram-s-narayan commented on #316
@Chronum94 - thank you!

[2022-03-08 07:22] vikram-s-narayan opened #318 "AD_Compatibility Test Failing"
[test/AD_compatibility](https://github.com/SciML/Surrogates.jl/blob/master/test/AD_compatibility.jl) has several tests that are commented out and several other tests that are failing. [Here is one example](https://github.com/SciML/Surrogates.jl/runs/5357550713?check_suite_focus=true#step:6:563).

Notes:
1. When I run the tests outside of the test environment, they seem to work fine. For example th

[2022-03-08 11:41] ChrisRackauckas commented on #318
Are the versions the same?

@DhairyaLGandhi do you know what could cause this behavior?

[2022-03-08 13:24] vikram-s-narayan commented on #318
Yes. The version in my manifest.toml shows 1.7.

[2022-03-08 13:25] ChrisRackauckas commented on #318
The version of the packages, like Zygote?

[2022-03-08 13:27] vikram-s-narayan commented on #318
[[deps.Zygote]]
.
.
.
version = "0.6.35"

[2022-03-08 13:28] ChrisRackauckas commented on #318
Do a diff between `-st m` locally and during the tests

[2022-03-08 15:04] ChrisRackauckas commented on #318
I mean `]st -m` in the package manager. That spits out the package setup overview.

[2022-03-08 15:10] vikram-s-narayan commented on #318
Got it. This is what the package setup looks like when I do `]st -m`:

 [e88e6eb3] Zygote v0.6.35
 [700de1a5] ZygoteRules v0.2.2

[2022-03-08 15:12] ChrisRackauckas commented on #318
Yeah so the test is running a much older Zygote version... 🤔 that's worth figuring out why. If you add all of the test dependencies, does something pull it back?

[2022-03-08 15:28] vikram-s-narayan commented on #318
Yes. There is a warning about exact versions of packages in manifest:

(Surrogates) pkg> test
     Testing Surrogates
┌ Warning: Could not use exact versions of packages in manifest, re-resolving
└ @ Pkg.Operations /Users/julia/buildbot/worker/package_macos64/build/usr/share/julia/stdlib/v1.7/Pkg/src/Operations.jl:1488
      Status `/private/var/folders/5_/l0q3z6jx4rzdb2y428r44f680000gn/T/jl_5r1En

[2022-03-08 15:59] vikram-s-narayan commented on #318
Following this procedure, the line `Stheno = "0.6"` in the [compat] section of the Project.toml, appears to be the cause of the Zygote downgrade.

[2022-03-08 16:08] vikram-s-narayan commented on #318
And all tests appear to run fine if we simply remove [this line](https://github.com/SciML/Surrogates.jl/blob/dee1b67c007bb359dfdcaf34484905af36aadda3/Project.toml#L29) which  sets Stheno = "0.6"

[2022-03-08 17:55] ChrisRackauckas commented on #318
Awesome. Try updating to Stheno v0.8?

[2022-03-09 06:54] vikram-s-narayan commented on #318
Stheno v0.8 appears to work. There are no test errors arising out of test/AD_compatibility on my local system with Stheno v0.8. And Zygote version online shows up as `Zygote v0.6.35` rather than  `Zygote v0.6.12` which was showing up before the change.

The online test continues to fail with a new message: `LoadError: invalid redefinition of constant g`

Our earlier error message (before changing

[2022-03-09 11:41] ChrisRackauckas commented on #318
That means you're just naming something `g` that was a function. Use `@safetestset` like in https://github.com/SciML/OrdinaryDiffEq.jl/blob/master/test/runtests.jl#L20

[2022-03-09 16:41] vikram-s-narayan commented on #318
I've added `@safetestset` and  `@time` macros for all tests in test/runtests.jl. I've also removed the comments for all tests except for the two previously commented out tests.

[AD_Compatibility tests](https://github.com/SciML/Surrogates.jl/runs/5483083371?check_suite_focus=true#step:6:591) work as expected now.

[2022-03-10 05:03] ChrisRackauckas commented on #318
Looks like the gaussian process code needs to update as well

[2022-03-10 05:16] vikram-s-narayan commented on #318
By Gaussian process code are you referring to the failing test for "test/SthenoKriging.jl"?

[2022-03-10 05:19] ChrisRackauckas commented on #318
Yes

[2022-03-27 04:35] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-03-27 04:35] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/57396](https://github.com/JuliaRegistries/General/pull/57396)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-03-27 04:46] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-03-27 04:46] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/57396](https://github.com/JuliaRegistries/General/pull/57396)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-03-28 11:50] vikram-s-narayan opened #324 "GitHub Pages Issue"
In the [deployment history](https://github.com/SciML/Surrogates.jl/deployments/activity_log?environment=github-pages) clicking on the "View deployment" button leads to  [http://surrogates.sciml.ai/](http://surrogates.sciml.ai/) which gives a "404 - File Not Found Error".

[2022-03-28 11:53] #318 closed

[2022-03-28 12:58] ChrisRackauckas commented on #324
https://surrogates.sciml.ai/dev/

[2022-03-29 14:13] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-03-29 19:45] st-- opened #327 "deprecate `var_at_point`"
I would suggest to deprecate 'var_at_point'; this one is the only one that actually implements it, and it's not used anywhere..

_Originally posted by @st-- in https://github.com/SciML/Surrogates.jl/issues/326#issuecomment-1080775074_

[2022-03-29 20:06] st-- opened #328 "AbstractGP and Kriging perform badly due to lack of hyperparameter optimisation"
If not improving it outright, it would be good to make this clear from the documentation, as the current state is quite confusing if you don't dive into the code and realize what's missing (e.g. see #251). This might partially be resolved by #224, but to be competitive with other packages such as mogp-emulator, a lot more work is needed, and this package doesn't work out of the box. (E.g. beyond h

[2022-03-30 06:24] vikram-s-narayan commented on #328
Yes. I will add this info to the documentation. Thank you!

[2022-04-02 10:30] #327 closed

[2022-04-02 14:29] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-04-02 14:29] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/57825](https://github.com/JuliaRegistries/General/pull/57825)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-04-08 09:17] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-04-09 02:07] #324 closed

[2022-04-14 07:17] st-- commented on #328
Hi @vikram-s-narayan, just throwing Hyperopt.jl at it is definitely better than not optimising at all, but if I understand your example correctly, it makes a bunch of limiting assumptions:

- it only optimises the noise variance, not the kernel hyperparameters (e.g. signal variance, lengthscale)
- it treats the GP model the same you would e.g. a neural network where you have no guarantees on anyth

[2022-04-14 07:20] st-- commented on #328
It'd be good to make clear to readers/users what the limitations/assumptions of the examples are, so when they try it out they know that bad performance might be due to these limitations of your implementation, rather than due to any issues with the underlying method. (Then there's an incentive to improve the implementation, instead of just walking away from it thinking it's useless!)

[2022-04-18 20:54] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-04-18 20:54] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/58701](https://github.com/JuliaRegistries/General/pull/58701)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-04-20 16:49] ranjanan opened #334 "Large conflict chain due to PolyChaos"
On Julia 1.7.2:
[code]
PolyChaos restrictions Distributions to 0.24.18. The latest version of DistributionsAD that is compatible is 0.6.29. However, compatibility with ChainRulesCore requires 0.6.30 or greater. Merging https://github.com/timueh/PolyChaos.jl/pull/67 will fix this entire chain.

[2022-04-27 15:20] moble opened #335 "Paper(s) about Surrogates.jl?"
There are various references in commit messages and the docs and such about "paper" and "the original papers" that seem to suggest there are more than zero papers specifically about this package.  If so, can you provide the citation(s), please?  Thanks!

[2022-04-28 15:35] ChrisRackauckas commented on #334
Fixed.

[2022-04-28 15:35] #334 closed

[2022-04-30 06:49] vikram-s-narayan commented on #335
Could you please share which commit messages and docs you are referring to?

Thanks!

[2022-04-30 12:00] moble commented on #335
[These commit messages](https://github.com/SciML/Surrogates.jl/search?q=paper&type=commits) refer to "paper", and [this docstring](https://surrogates.sciml.ai/dev/optimizations/#Surrogates.surrogate_optimize-Tuple{Function,%20SRBF,%20Any,%20Any,%20AbstractSurrogate,%20SamplingAlgorithm}) refers to "the original papers".

[2022-04-30 12:57] ChrisRackauckas commented on #335
https://github.com/SciML/Surrogates.jl/issues/1#issuecomment-493770437
https://github.com/SciML/Surrogates.jl/issues/66#issue-488078946

The old issues have the papers in them. We should convert them into docstrings.

Also, there isn't a paper on Surrogates.jl itself right now, though I hope there will be enough completed over the summer that we can then put a manuscript out on the package.

[2022-05-06 13:06] sharanry opened #337 "Radial basis doesn't error with incorrect inputs."
`Surrogates 5.0.0`:
[code]

[2022-05-07 16:19] MartinuzziFrancesco opened #338 "Delete sampling in Surrogates.jl in favor of QuasiMonteCarlo.jl"
At the moment the sampling functions available in [Surrogates.jl](https://github.com/SciML/Surrogates.jl/blob/master/src/Sampling.jl) are also available in [QuasiMonteCarlo.jl](https://github.com/SciML/QuasiMonteCarlo.jl). Would it make sense to remove the samplings from this package in favor of the stand alone one?

[2022-05-07 16:23] ChrisRackauckas commented on #338
Yes, they started here but they became standalone because they were much more widely useful, but Surrogates.jl never got updated to use them. We definitely should update Surrogates.jl sometime to use QuasiMonteCarlo.jl and delete the repeated code.

[2022-05-15 06:00] 1991jhf opened #339 "NeuralSurrogates on GPU"
Is NeuralSurrogates support fitting and optimizing on GPU?

I followed NeuralSurrogates example and I tried to make it an GPU model.
Then it failed to construct a NeuralSurrogate
----------------------------------------------------------
model1 = Chain(
  Dense(2, 5, σ),
  Dense(5,2,σ),
  Dense(2, 1)
)|>gpu

neural = NeuralSurrogate(xys, zs, lower_bound, upper_bound, model = model1, n_echos = 10)

[2022-05-15 07:14] #339 closed

[2022-05-17 12:12] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-05-19 10:43] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-05-19 10:43] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/60535](https://github.com/JuliaRegistries/General/pull/60535)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:44] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesAbstractGPs
@JuliaRegistrator register subdir=lib/SurrogatesFlux
@JuliaRegistrator register subdir=lib/SurrogatesPolyChaos
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:44] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/60536](https://github.com/JuliaRegistries/General/pull/60536)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:44] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesFlux
@JuliaRegistrator register subdir=lib/SurrogatesPolyChaos
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:44] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesPolyChaos
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:44] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:44] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/60537](https://github.com/JuliaRegistries/General/pull/60537)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:44] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:44] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/60538](https://github.com/JuliaRegistries/General/pull/60538)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:45] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/60539](https://github.com/JuliaRegistries/General/pull/60539)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:45] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:45] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60539](https://github.com/JuliaRegistries/General/pull/60539)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:45] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/60540](https://github.com/JuliaRegistries/General/pull/60540)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:46] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesAbstractGPs
@JuliaRegistrator register subdir=lib/SurrogatesFlux
@JuliaRegistrator register subdir=lib/SurrogatesPolyChaos
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:46] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesFlux
@JuliaRegistrator register subdir=lib/SurrogatesPolyChaos
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:46] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesPolyChaos
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:46] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60536](https://github.com/JuliaRegistries/General/pull/60536)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:46] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:46] ChrisRackauckas commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-19 10:46] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60537](https://github.com/JuliaRegistries/General/pull/60537)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:46] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60538](https://github.com/JuliaRegistries/General/pull/60538)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:46] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60539](https://github.com/JuliaRegistries/General/pull/60539)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 10:47] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60540](https://github.com/JuliaRegistries/General/pull/60540)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 17:46] ranjanan commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesAbstractGPs

[2022-05-19 17:46] JuliaRegistrator commented on #92
Error while trying to register: **Register Failed**
@ranjanan, it looks like you are not a publicly listed member/owner in the parent organization (SciML).
If you are a member/owner, you will need to change your membership to public. See [GitHub Help](https://help.github.com/en/articles/publicizing-or-hiding-organization-membership)

[2022-05-19 17:47] ranjanan commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesAbstractGPs

[2022-05-19 17:48] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60536](https://github.com/JuliaRegistries/General/pull/60536)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 17:49] ranjanan commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesFlux

[2022-05-19 17:49] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60537](https://github.com/JuliaRegistries/General/pull/60537)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 17:49] ranjanan commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesPolyChaos

[2022-05-19 17:49] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60538](https://github.com/JuliaRegistries/General/pull/60538)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 17:49] ranjanan commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesRandomForest

[2022-05-19 17:49] JuliaRegistrator commented on #92
Registration pull request updated: [JuliaRegistries/General/60539](https://github.com/JuliaRegistries/General/pull/60539)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 17:50] ranjanan commented on #92
@JuliaRegistrator register subdir=lib/SurrogatesSVM

[2022-05-23 12:09] sleepingPhD opened #344 "LoadError: UndefVarError: NeuralSurrogate not defined"
I tried to run the demo from docs about nerual surrogate,but it fails and remind that:
**ERROR: LoadError: UndefVarError: NeuralSurrogate not defined**
And I find that "nreualsurrogate.jl"dosen't exist
So how can I solve the problem? Thank you
I run the code based on Win 11 and Julia 1.7.2

[2022-05-24 03:32] vikram-s-narayan opened #345 "GaussOrthoPoly not defined"
Running the Polynomial Chaos surrogate example from the [docs](https://surrogates.sciml.ai/dev/polychaos/) throws an error ("UndefVarError: GaussOrthoPoly not defined").
To reproduce the error, the following code can be run after inputting "]add SurrogatesPolyChaos":

[code]

[2022-05-25 21:01] ChrisRackauckas commented on #345
PolyChaos.GaussOrthoPoly should work.

[2022-05-26 15:35] vikram-s-narayan commented on #156
OK. I'll start cleaning this up and search for an alternative for ScikitLearn PLS.
Thanks!

[2022-05-27 03:40] #345 closed

[2022-05-27 17:22] ChrisRackauckas commented on #338
Awesome, thanks!

[2022-05-27 17:37] archermarx opened #348 "Other types of variable fidelity surrogate"
It would be nice to add a few options for variable fidelity surrogate. The current one uses an additive bridge function, but there are other options. Multiplicative bridge functions would be low hanging fruit. There's also linear-regression multi-fidelity surrogates and multi-fidelity Kriging. I think i can tackle this, but I thought I'd make an issue to solicit ideas and feedback.

[2022-05-27 17:42] ChrisRackauckas commented on #348
Can you post some articles on this?

(BTW, you might want to put something in for https://sciml.ai/dev/#sciml_summer_fellowship)

[2022-05-27 17:56] archermarx commented on #348
Yeah sure, here's an article on the Linear Regression Mutli-Fidelity Surrogate (LR-MFS):
https://arxiv.org/ftp/arxiv/papers/1705/1705.02956.pdf

A generalized hybrid bridge function (discusses multiplicative and additive)
https://www.sciencedirect.com/science/article/pii/S127096381200017X?via%3Dihub

Multi-fidelity co-kriging:
https://rss.onlinelibrary.wiley.com/doi/10.1111/1467-9868.00294

[2022-05-27 18:00] archermarx commented on #348
w/r/t the fellowship, I don't think I'd have time to commit to this full-time. I'm in my fourth year of PhD and am ramping up to some publications this fall. I'm happy to contribute to the surrogates package, though. My work for an upcoming conference paper involves multi-fidelity surrogate modeling and it'd be nice to contribute rather than roll my own and have it languish.

[2022-05-27 20:00] #344 closed

[2022-05-28 03:02] ChrisRackauckas commented on #338
Still a few pieces left:

- Move GoldenSample, KroneckerSample, and SectionSample to QuasiMonteCarlo.jl
- Change the representation that this package wants to the data matrix form of QuasiMonteCarlo.jl

[2022-05-28 15:34] vikram-s-narayan commented on #338
We're converting from matrix type to vector of tuples type [in this function](https://github.com/SciML/Surrogates.jl/blob/796f47e9144834ea8d9c7a4088b39c2a965de20a/src/Sampling.jl#L4).

Is there a reason why Surrogates samples need to be in the form of a vector of tuples?
Can we leave it in matrix form itself as it makes things like array reshaping easier?

Thanks!

[2022-05-28 15:49] ChrisRackauckas commented on #338
Yes, that was exactly my second bullet. It probably should just not use the tuple form at all. It would be a breaking change but a potentially major improvement in scaling to get rid of the tuples.

[2022-05-31 05:52] JanRotti opened #351 "Parameter optimization"
Hello everyone,

I was just being curious if there is a built in possibility for parameter optimization (e.g. for theta and p in the kriging model) or if this is usually performed with an external library?

Best regards,
Jan

[2022-05-31 06:56] vikram-s-narayan commented on #351
Hi Jan,

Hyperparameter optimization needs to be done with an external library (ex: Hyperopt.jl). [Here](https://github.com/SciML/Surrogates.jl/issues/328) is a related discussion that may help.

[2022-05-31 06:59] #351 closed

[2022-06-01 00:25] ChrisRackauckas commented on #351
That's not quite the full story. Hyperparameter optimization is traditionally done with a derivative-free Bayesian method because many libraries are not differentiable and thus standard derivative-based optimization techniques cannot be used. We have regressed a bit (https://github.com/SciML/Surrogates.jl/blob/master/test/runtests.jl#L26) but there was a time when the library was fully differentia

[2022-06-02 11:09] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-06-02 11:09] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/61565](https://github.com/JuliaRegistries/General/pull/61565)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-06-02 14:54] archermarx commented on #338
Since the notional issue covered by this has been handled, should we make a new issue covering changing the expected sample shape from a vector of Tuples to a matrix?

[2022-06-02 14:55] archermarx commented on #264
Is there a real way around this? The number of polynomial bases for a given dimension and order seems difficult to circumvent

[2022-06-02 15:02] ChrisRackauckas commented on #338
Yes, that sounds like a good idea.

[2022-06-02 15:02] #338 closed

[2022-06-02 15:10] archermarx opened #355 "Convert representation of samples/outputs from Vector{Tuple} to Matrix"
Following on from https://github.com/SciML/Surrogates.jl/issues/338, when we transferred all of our sampling methods over to `QuasiMonteCarlo.jl`, we encountered the issue that `QuasiMonteCarlo.jl` outputs samples as a $d\times n$ `Matrix`, where $d$ is the dimension of the problem and $n$ is the number of samples, while `Surrogates` expects samples as a length-$n$ `Vector` of length-d `Tuples`. C

[2022-06-02 15:14] ChrisRackauckas commented on #348
That sounds reasonable enough to me.

[2022-06-03 03:25] vikram-s-narayan opened #356 "Unsatisfiable requirements detected for package QuasiMonteCarlo"
When I try to run tests from inside the surrogates folder, I get the following message:

`QuasiMonteCarlo` is a direct dependency, but does not appear in the manifest. If you intend `QuasiMonteCarlo` to be a direct dependency, run `Pkg.resolve()` to populate the manifest. Otherwise, remove `QuasiMonteCarlo` with `Pkg.rm("QuasiMonteCarlo")`. Finally, run `Pkg.instantiate()` again.

Doing Pkg.resolv

[2022-06-03 03:28] ChrisRackauckas commented on #356
Did you run `]up`? You have an old version of the registry if QuasiMonteCarlo v0.2.7 doesn't exist in it.

[2022-06-03 03:31] vikram-s-narayan commented on #356
Yes. That fixed it. Thanks.

[2022-06-03 03:31] #356 closed

[2022-06-04 21:56] #316 closed

[2022-06-05 14:10] vikram-s-narayan commented on #156
@ChrisRackauckas - I've created a [draft pull request for GEKPLS ](https://github.com/SciML/Surrogates.jl/pull/357) with some basic tests added in. This still uses the SK Learn PLS Regressor which I plan to replace. With regard to a Julia PLS Regressor there is one called  - PartialLeastSquaresRegressor.jl - but it has a few issues (ex: it does not have an attribute called 'x_rotations' which is w

[2022-06-05 14:11] ChrisRackauckas commented on #156
That sounds great.

[2022-06-09 19:56] ranjanan commented on #264
The code that calls this function was deleted in https://github.com/SciML/Surrogates.jl/pull/317

[2022-06-09 21:47] ChrisRackauckas commented on #264
Oh, then that means it's fixed 😅

[2022-06-09 21:47] #264 closed

[2022-06-26 06:28] vikram-s-narayan opened #362 "Profile and optimize implementation of GEKPLS"
Profile implementation of GEKPLS and analyze and fix bottlenecks.

[2022-06-26 06:30] vikram-s-narayan opened #363 "Setting "strict mode" in docs build throws error"
We're getting an error (_"ERROR: `makedocs` encountered an error (:docs_block, :example_block). Terminating build before rendering."_) without being able to create the build directory when we make the following change in make.jl:

[code]

Each page in docs will  need to be fixed independently in order to make these tests pass.

[2022-06-27 12:16] vikram-s-narayan opened #364 "Test GEKPLS for 32-Bit Floats and Other Types"
The system is currently tested for matrices with 64-bit floats.

Document situations where the system errors or fails test cases where input matrices have 32-bit element types.

For context please refer to the PR review and reviewer comment below:

"
For now retain Float64, sure. But,

Are you sure that's the case for literally every example? I'd be surprised if there isn't a use case for it. It's

[2022-06-28 06:04] jacktang opened #365 "What's the purpose of neural network example"
Hello,

I am learning surrogate modeling from the beginning. And I find the error between surrogate model and true function is very large in neural network (https://surrogates.sciml.ai/stable/neural/), here is the code

[code]

The output is `result:13 / 41.951977`, even I run `surrogate_optimize` the statement.
So I don't understand what's the purpose of this example.

[2022-06-29 13:59] jacktang commented on #365
@vikram-s-narayan Thanks for the explanation! Appreciate your time.

[2022-06-29 13:59] #365 closed

[2022-06-30 14:35] vikram-s-narayan opened #366 "Add Hyperparam Optimization for GEKPLS Theta"
At present, in GEKPLS , initial theta is supplied as a real number by the user. This theta value is repeated in an array for the number of components which is also supplied by the user. For example, if the number of components is 2 and the initial theta value is 0.01, then an array is constructed like so: [0.01, 0.01].

The theta values need to be optimized (similar to what is done in the [Python

[2022-07-01 09:17] ChrisRackauckas commented on #366
To get to here, can the GEKPLS be made differentiable? If so, differentiable hyperparmeter optimization will be much faster than having it non-differentiable, and that would completely change the algorithms one would use.

[2022-07-01 11:12] vikram-s-narayan commented on #366
I will research this option.

[2022-07-01 11:37] vikram-s-narayan opened #367 ""GEKPLS not defined" error"
When I run Surrogates outside of my package development environment, I get the following error:

"`UndefVarError: GEKPLS not defined`"

Running the following command:
`using Pkg; Pkg.update("Surrogates")`
does not seem to resolve the issue.

Also, `Pkg.status("Surrogates")` shows that the version is 6.0.0

Thank you!

[2022-07-01 13:19] ChrisRackauckas commented on #367
Did you `]dev Surrogates`?

And yes, the GEKPLS version hasn't been released yet. I'll cut a release.

[2022-07-01 13:20] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-07-02 03:25] vikram-s-narayan commented on #367
On my system when I run `]dev Surrogates`, I get the following:

[code]

[2022-07-07 06:45] vikram-s-narayan commented on #366
The outputs of the reduced_likelihood_function_value - both, in the Julia version of GEKPLS and in the SMT code from which GEKPLS.jl is adapted - does not appear to have any clear correlation with the root mean squared error. For example, in the SMT code, we see the following outputs:

theta values | rlfv | rmse | remarks
-- | -- | -- | --
[1.48487442e-02 1.04230276e-06] | 2761.35 | 0.36 | value f

[2022-07-07 19:55] archermarx opened #368 "Making Kriging differentiable and better initial hyperparams"
In order to make hyperparameter optimization of gaussian process models simpler (cf https://github.com/SciML/Surrogates.jl/issues/328 and https://github.com/SciML/Surrogates.jl/issues/328), it would be nice to be able to use AD on kriging surrogates. This turns out not to be too difficult. Making only a single change to the computation of Kriging coefficients makes these surrogates differentiable

[2022-07-07 19:56] archermarx commented on #368
Some further improvement ideas:

- nugget regularization/noise variance (adding a small value to the main diagonal to prevent R from being singular when points are nearby, would also allow Gaussian process regression instead of only interpolation)
- Included hyperparameter optimization (could do either multi-start gradient-based optimization, taking care to remain in bounds of 0 <= p <= 2 or some

[2022-07-07 20:55] ChrisRackauckas commented on #366
Agreed.

That's part of the issue. COBYLA is a derivative-free optimizer, and so it will generally have a bit of trouble accurately converging beyond a certain accuracy. Derivative-based methods are a lot more stable in how they converge, so I wouldn't be surprised if that improved the hyperparameter optimization here. I still think users should have the option to provide the hyperparameter, and t

[2022-07-07 20:56] ChrisRackauckas commented on #368
Oh nice, can you open a PR?

Note a similar discussion is occurring in https://github.com/SciML/Surrogates.jl/issues/366

That sounds like a good idea. Smooth square exponential kernel is more expected as a default too.

[2022-07-08 07:49] vikram-s-narayan commented on #367
I did the following:

[code]
But the following message still persists:

[code]

[2022-07-08 11:55] vikram-s-narayan commented on #367
Closing the issue as it does not happen on another computer that I tried it on. So it may not be related to Surrogates.jl.

[2022-07-08 11:55] #367 closed

[2022-07-08 12:14] vikram-s-narayan opened #369 "Kriging Produces Nearly Identical Results for All Inputs After 3 Dimensions"
Anything beyond 3 dimensions and Kriging seems to produce nearly the same results for all inputs.

To reproduce the issue please try the following code:

[code]

[2022-07-08 13:36] vikram-s-narayan opened #371 "Make GEKPLS differentiable"
This issue is related to #364. The goal is to make GEKPLS differentiable so that users can perform gradient-based optimization on hyperparameters similar to what is suggested in #368

[2022-07-08 15:58] ranjanan commented on #369
Seems like very little data for a 4D problem? If I increase the number of samples to 1000. Still not great, but different.

[code]

[2022-07-08 16:00] ranjanan commented on #369
Better with even more data:
[code]

[2022-07-08 20:22] archermarx commented on #368
Made a PR for the differentiability. For the initial hyperparams, I propose:

$$p_i = 2, i \in [1, d]$$

$$\theta_i = \frac{1}{2}\frac{1}{\mathrm{variance}(\mathbf{X_i})}, i\in [1, d]$$

The latter comes from [A Practical Guide to Gaussian Processes](https://infallible-thompson-49de36.netlify.app/) and the interpretation of $\theta_i = 1/2l_i^2$, where $l_i$ is a characteristic correlation length

[2022-07-08 20:28] archermarx commented on #369
This is almost certainly just due to bad hyperparameters. See https://github.com/SciML/Surrogates.jl/issues/368 for some details, but here's what the sphere function looks like in 2D using the default parameters:

![sphere_old_defaults](https://user-images.githubusercontent.com/60799002/178065464-eb5dc5ca-0606-45c0-adda-8e329b20b38c.png)

You can see that the kriging model does a terrible job of i

[2022-07-08 20:41] archermarx commented on #369
To go a bit further, here's what we get running your initial problem:

[code]
[code]
All of the returned values are very close to `my_krig.mu`, which is the mean of the Gaussian process. If we initialize our hyperparameters more intelligently:

[code]
[code]

We no longer get nearly identical results. The values are better than before, but not great. 20 points isn't much for four dimensions, so fo

[2022-07-09 06:15] vikram-s-narayan opened #373 "Add docstrings for GEKPLS functions"
We should docstring these. Anyways, that's for the future.

_Originally posted by @ChrisRackauckas in https://github.com/SciML/Surrogates.jl/pull/370#discussion_r916990479_

[2022-07-09 06:19] vikram-s-narayan commented on #369
Thanks. This is very helpful.

[2022-07-09 12:39] vikram-s-narayan commented on #366
Closing this issue as a decision has been made.

[2022-07-09 12:39] #366 closed

[2022-07-11 14:49] archermarx commented on #369
As part of the eventual resolution of https://github.com/SciML/Surrogates.jl/issues/368 I will be overhauling a lot of the Kriging docs to talk a bit more about hyperparameter optimization

[2022-07-11 21:20] archermarx commented on #251
This looks like another case of bad hyperparameters. You have `p = [1.0, 5.0]` which are not going to give great results, `p = 5.0` is out of bounds. With the new default hyperparameters proposed in https://github.com/SciML/Surrogates.jl/pull/374, we get this:

![plot_188](https://user-images.githubusercontent.com/60799002/178360355-9363797e-2124-4be1-a196-8b59fa13583a.png)

This was accomplished

[2022-07-12 03:48] ChrisRackauckas commented on #369
Fixed by https://github.com/SciML/Surrogates.jl/pull/374

[2022-07-12 03:48] #369 closed

[2022-07-12 03:49] ChrisRackauckas commented on #368
Fixed by https://github.com/SciML/Surrogates.jl/pull/374

[2022-07-12 03:49] #368 closed

[2022-07-12 03:49] ChrisRackauckas commented on #251
Fixed by https://github.com/SciML/Surrogates.jl/pull/374

[2022-07-12 03:49] #251 closed

[2022-07-12 14:48] archermarx opened #375 "Further Kriging improvements - Noise variance, log likelihood, and simplifying implementation"
I'd like to make a couple more changes to kriging

### 1. Noise variance hyperparameter

This would allow modeling and optimization of noisy functions. I would probably add this as a field to the `Kriging` struct. Noise variance is usually easier to estimate by the user than other hyperparameters, and would default to zero (aka the surrogate interpolates the data). I would also add an example to t

[2022-07-12 15:20] archermarx commented on #375
Here's what including noise variance looks like:

[code]
![plot_258](https://user-images.githubusercontent.com/60799002/178525448-a263e4be-3e64-4235-a4c2-fa2bcee6b2c0.png)

This interpolates the data but doesn't tell us much about how the signal varies

If we now instead include a noise variance, we get a much more accurate picture of the underlying function

[code]

![plot_257](https://user-image

[2022-07-13 01:51] jacktang opened #377 "How to evaluate surrogate model?"
Hello!

I've built some surrogate models using Kriging, Polynomial chaos, NN method with different parameters. And how can I evaluate the models and compare them? I don't find any information in documents. It is the same as evaluating machine learning model?

Thanks a lot!

[2022-07-13 08:00] vikram-s-narayan commented on #377
Here's one approach to evaluating models and comparing them:

1. Setup a training dataset
2. Setup a test dataset
3. Get true value of the function on test dataset
4. Construct different models with various parameters
5. Make predictions with constructed models on test dataset
6. Find root mean squared error for each of the predictions and compare

Starter code below:

[code]

[2022-07-13 08:59] chenr86 opened #378 "Degree modification of multivariate polynomial chaos surrogate model"
Hello,

I am using `Surrogate.jl` to build my polynomial choas surrogate model. The model is multivariate, with 4 input parameters, and 1D output. I want to change the parameter `op = SurrogatesPolyChaos.GaussOrthoPoly(5)` of the model, but I got an error message. What's the suitable form for multivariate polynomial chaos model? Can I specify the degree of the polynomial basis greater than 2 for m

[2022-07-13 15:50] archermarx commented on #378
I believe you need to make a `MultiOrthoPoly` containing a `GaussOrthoPoly` for each dimension, so using your code, you would type:

[code]

[2022-07-14 02:04] chenr86 commented on #378
Thanks, this is exactly what I need!

[2022-07-14 07:34] #378 closed

[2022-07-14 07:34] #337 closed

[2022-07-14 07:35] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-07-14 07:35] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/64220](https://github.com/JuliaRegistries/General/pull/64220)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-07-14 07:35] #377 closed

[2022-07-15 05:49] jacktang commented on #377
@vikram-s-narayan Thanks, it helps a lot!

[2022-07-16 10:50] vikram-s-narayan opened #380 "Optimization function mutates surrogate struct"
The [optimization functions in surrogates](https://github.com/SciML/Surrogates.jl/blob/master/src/Optimization.jl) mutate the surrogate struct.

To reproduce:

[code]

Should we be indicating that the function mutates with the `!` convention (i.e. `surrogate_optimize!(s, SRBF(), lb, ub, r, UniformSample())`)?

[2022-07-16 12:58] ChrisRackauckas commented on #380
Yes it should have a `!`

[2022-07-20 12:49] #373 closed

[2022-07-23 08:53] #371 closed

[2022-07-25 07:49] vikram-s-narayan opened #384 "[question] Reason for splitting into sub-packages"
Several surrogates like SurrogatesAbstractGPs, SurrogatesFlux etc. have been put into the [lib folder](https://github.com/SciML/Surrogates.jl/tree/master/lib) via pull request #341.

This brings up a few maintainability issues:

1. We now need to update `Project.toml` 's in 7 different places including:
- [Project.toml](https://github.com/SciML/Surrogates.jl/blob/master/Project.toml)
- [docs/Proje

[2022-07-26 07:35] ChrisRackauckas commented on #384
The reason is because you don't want all of those dependencies in Surrogates.jl proper. Some of those, like XGBoost, bring in binaries that don't work on all operating systems, so it would greatly limit who can use the package.

[2022-07-26 08:37] #384 closed

[2022-07-26 08:55] vikram-s-narayan commented on #259
MOE.jl needs many of the surrogates which are now moved to the libs folder ([related discussion](https://github.com/SciML/Surrogates.jl/issues/384).) These include SurrogatesRandomForest, SurrogatesFlux and SurrogatesPolyChaos along with other unique dependencies such as Clustering and GaussianMixtures.

So would it be okay to add MOE.jl as a new package under the libs folder similar to what we've

[2022-07-26 13:35] #259 closed

[2022-07-26 13:40] vikram-s-narayan opened #387 "MOE items to complete"
The following are the unfinished items related to #386:

- [ ] Remove MOE from main src directory
- [ ] Remove MOE test from main tests directory
- [ ] Add more tests to MOE sub-package
- [ ] Add documentation for MOE
- [ ] Add Project compats
- [ ] Register project

[2022-07-27 09:03] chenr86 opened #388 "Hyperparameter optimization for kriging model"
Hello,

I am using surrogates.jl v6.3.0 to build kriging for a dataset with 500 elements. There are 24 input variables and 1 output. But I found the accuracy is terrible. There is serious overfitting with the model.

[code]

According to https://github.com/SciML/Surrogates.jl/issues/368, I calculate the loss function, `Inf` is obtained!

[code]

I don't know how can I improve my model, as p and th

[2022-07-28 06:12] vikram-s-narayan commented on #388
As per [this](https://arxiv.org/pdf/1708.02663.pdf) paper:

_"Since there is no analytical solution for estimating the hyperparameters θ, it is necessary to
use numerical optimization to find the hyperparameters θ that maximize the likelihood function.
This step is the most challenging in the construction of the kriging model. This is because, as
previously mentioned, this estimation involves maxi

[2022-07-29 01:33] jacktang opened #389 "Save/load generated surrogate model"
Hi,

I want to save/load the surrogate model using JLD2 and BSON, and find the packages can only serialize objects rather than function. So if I load the saved model, it throws error:
[code]

BTW: the question on julialang discourse: https://discourse.julialang.org/t/save-and-load-the-model-generated-by-surrogates-jl/83302

[2022-07-29 05:38] vikram-s-narayan commented on #389
Can you please share your full minimum working example so that we can examine it more carefully? Also, can you try with some other surrogate like Radial Basis?

[2022-07-29 06:50] jacktang commented on #389
@vikram-s-narayan
For example the random forrest surrogate model: https://surrogates.sciml.ai/dev/randomforest/

[code]

PolynomialChaos model works fine, so I think Radial basis should be ok too.

[2022-07-31 02:57] jacktang commented on #389
@vikram-s-narayan If I understand it correctly, the solution is replacing XGBoost by EvoTrees.jl in Surrogates.jl?

[2022-07-31 12:11] vikram-s-narayan commented on #389
@jacktang  - I'm not sure if there are any other dependencies involved and whether the function calls need to be changed.

[2022-08-01 04:16] vikram-s-narayan commented on #387
It appears that MOE does not perform as well as the constituent surrogates. For example:

[code]

I reviewed the [history of commits](https://github.com/SciML/Surrogates.jl/commits/master/src/MOE.jl) for MOE in order to verify the algorithm implementation. However, I'm not able to see a reference to a source paper based on which the code was written.

Hence, I'm now planning to rewrite this algori

[2022-08-01 17:49] archermarx commented on #388
Try p = 1.99 * ones(dim) instead of p = 2 * ones(dim). This will give better numerical stability (your covariance matrix is singular here, so its determinant is zero and that is why the logpdf is Inf).

[2022-08-06 15:41] ArnoStrouwen opened #391 "Constrained search space via modelingtoolkit integration?"
In many applications corners of the design space are infeasible.
Currently it seems it is only possible to optimize on a hyperbox, and not a constrained space?

Specifying such constraints would be a bit messy to do directly in Surrogates.jl but would be rather easy to do in ModelingToolkit.jl once OptimizationProblem can handle them.

[2022-08-07 23:30] ChrisRackauckas commented on #92
@JuliaRegistrator register()

[2022-08-07 23:30] JuliaRegistrator commented on #92
Registration pull request created: [JuliaRegistries/General/65824](https://github.com/JuliaRegistries/General/pull/65824)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-08-11 15:05] jacktang commented on #388
@archermarx why `1.99` here? could you please explain more? Thanks!

[2022-08-11 16:20] archermarx commented on #388
When p = 2.0, the correlation function is nearly flat for points that are nearby, which causes ill conditioning in the correlation matrix. If p is just slightly less than 2.0, then the correlation function has a small slope so even points that are nearby are not counted as being effectively the same. An update I'm working on will change the default from 2.0 to 1.99

[2022-08-15 02:05] chenr86 commented on #388
I have tried p = 1.99 * ones(dim). Still, the model is overfitting and there is nearly no improvement. The predictive coefficient R squared in training set is 1 while in test set is 0.00186.

[2022-08-15 15:31] archermarx commented on #388
Does your loss function still produce Inf?

[2022-08-18 19:48] ArnoStrouwen opened #393 "Support for categorical factors and discrete numeric factors"
I use Surrogates.jl quite often for chemical reaction optimization.
Everything goes well, as long as only continuous process factors, such as temperatures, pressures and concentrations are involved.

However, almost invariably the question comes if we can also try out a different solvent, or ligand.
Currently, I think Surrogates.jl does not support this?

Similarly even for factors that are contin

[2022-08-19 06:06] vikram-s-narayan commented on #393
Yes that is correct. Categorical and discrete numeric factors are not supported at present.

Could you share a minimum working example or dataset to enable us to test with various surrogates?
Also, if you have gradient information available, you can give [GEKPLS](https://surrogates.sciml.ai/dev/gekpls/) a try. GEKPLS is intended to work with high-dimensional datasets.

[2022-08-19 06:47] ArnoStrouwen commented on #393
There is no gradient, these are noisy physical experiments.

This is a nice paper that involves discrete numeric factors (and categorical if you do not use descriptors for the ligands), with data and code available: https://par.nsf.gov/servlets/purl/10231959 .

The problem in porting this to Surrogates.jl is not to get a surrogate to fit, but to perform the optimization loop that uses the informat

[2022-09-13 22:13] vikram-s-narayan opened #404 "Register"
@JuliaRegistrator register()

@JuliaRegistrator register subdir=lib/SurrogatesMOE

[2022-09-13 22:13] JuliaRegistrator commented on #404
Error while trying to register: **Register Failed**
@vikram-s-narayan, it looks like you are not a publicly listed member/owner in the parent organization (SciML).
If you are a member/owner, you will need to change your membership to public. See [GitHub Help](https://help.github.com/en/articles/publicizing-or-hiding-organization-membership)

[2022-09-13 22:15] ChrisRackauckas commented on #404
@JuliaRegistrator register()

[2022-09-13 22:15] JuliaRegistrator commented on #404
Error while trying to register: "Tag with name `v6.4.0` already exists and points to a different commit"

[2022-09-13 22:15] ChrisRackauckas commented on #404
@JuliaRegistrator register subdir=lib/SurrogatesMOE

[2022-09-13 22:15] JuliaRegistrator commented on #404
Registration pull request created: [JuliaRegistries/General/68231](https://github.com/JuliaRegistries/General/pull/68231)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-09-13 22:26] ChrisRackauckas commented on #404
https://github.com/JuliaRegistries/General/pull/68231#issuecomment-1246009659

[2022-09-14 01:58] ChrisRackauckas commented on #404
@JuliaRegistrator register subdir=lib/SurrogatesMOE

[2022-09-14 01:58] JuliaRegistrator commented on #404
Registration pull request updated: [JuliaRegistries/General/68231](https://github.com/JuliaRegistries/General/pull/68231)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-09-22 14:26] stevengj commented on #283
(Note that the FastChebInterp package has been registered for a while now and is pretty stable.)

[2022-09-24 07:18] vikram-s-narayan commented on #404
Package has been registered.

[2022-09-24 07:18] #404 closed

[2022-10-18 06:38] ChrisRackauckas commented on #404
@JuliaRegistrator register()

[2022-10-18 06:38] JuliaRegistrator commented on #404
Registration pull request created: [JuliaRegistries/General/70473](https://github.com/JuliaRegistries/General/pull/70473)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-10-25 00:10] ChrisRackauckas commented on #404
@JuliaRegistrator register()

[2022-10-25 00:10] JuliaRegistrator commented on #404
Registration pull request created: [JuliaRegistries/General/70990](https://github.com/JuliaRegistries/General/pull/70990)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can